<ion-grid class = "ion-no-padding">

	<!-- WORDING -->

	<ion-row><ion-col>

		<ion-item>

			<ion-label
				position    = "stacked"
				[id]        = "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.WORDING" | translate }}
			</ion-label>

			<ion-input
				[formControl]	= "wordingControl"
				[placeholder]   = "'QUESTIONS.EDIT.WORDING_PLACEHOLDER' | translate"
			></ion-input>

		</ion-item>

	</ion-col></ion-row>



	<!-- ANSWER TYPE / UNIT -->

	<ion-row>

		<ion-col>

			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'QUESTIONS.EDIT.ANSWER_TYPE' | toID:'rcc-e2e'"
				>
					{{ "QUESTIONS.EDIT.ANSWER_TYPE" | translate }}
			</ion-label>

				<ion-select
					[formControl] 		= "answerTypeControl"
					interface			= "popover"
					[interfaceOptions]	= "{subHeader: ('QUESTIONS.EDIT.ANSWER_TYPE_EXPLANATION' | translate)}"

				>

					<ion-select-option
						*ngFor  = "let value of answerTypes"
						[value] = "value"
						[class]	= "'QUESTIONS.EDIT.ANSWER_TYPES.%s' | fill : value | toID:'rcc-e2e'"
					>
						{{'QUESTIONS.EDIT.ANSWER_TYPES.%s' | fill : value | translate}}
					</ion-select-option>

				</ion-select>

			</ion-item>

		</ion-col>

		<ion-col
			size = "4"
			*ngIf = "unitControl.enabled"
		>
			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'QUESTIONS.EDIT.UNIT' | toID:'rcc-e2e'"
				>
					{{ "QUESTIONS.EDIT.UNIT" | translate }}
			</ion-label>

				<ion-input [formControl] = "unitControl"></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>


	<!-- OPTIONS -->

	<ng-container *ngIf = "optionControls.enabled">

		<ion-row class = "ion-padding"></ion-row>

		<ion-row><ion-col>

			<ion-item
				[button] 	= "true"
				(click)		= "addOption()"
				lines		= "full"
			>

				<ion-label [id]	= "'QUESTIONS.EDIT.OPTIONS.ADD' | toID:'rcc-e2e'">
					{{ "QUESTIONS.EDIT.OPTIONS.ADD" | translate }}
				</ion-label>

				<ion-icon
					[name] 	= " 'add' | rccIcon"
					slot	= "end"
				></ion-icon>

			</ion-item>


		</ion-col></ion-row>

		<rcc-choice-option-item
			*ngFor             = "let optionControl of optionControls.controls"
			[formGroup]        = "optionControl"
			[optionValueType]  = "optionValueType"
			[showRemoveButton] = "true"
			(removeItem)       = "removeOption(optionControl)"
		></rcc-choice-option-item>

	</ng-container>

</ion-grid>
