<rcc-modal-header
    [mainHeading]="mainHeading"
    [subHeading]="subHeading"
></rcc-modal-header>
<div class="body" colorCategory="create">
    <div class="before-form">
        <ng-content select="[beforeForm]" class="foo"></ng-content>
    </div>
    <div class="form-container">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <ng-content></ng-content>
            <div class="form-controls">
                <rcc-submit-button class="submit-button" colorCategory="create" [disabled]="!formGroup.valid"></rcc-submit-button>
            </div>
        </form>
    </div>
	<div class="after-form">
		<ng-content select="[afterForm]"></ng-content>
	</div>
</div>
