:host {
	display: flex;
	flex-direction: column;
	--background-white: #fdfdfd;
	height: 100%;
}


.before-form {
	> ::ng-deep:last-child {
		margin-bottom: 1rem;
	}
}
.after-form {
	> ::ng-deep:last-child {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
}

.body {
	overflow-y: auto;
	padding: 1rem 1.25rem;
	--background-color: var(--supp);
	background-color: var(--background-color);
	flex-grow: 1;

	.form-container {
		background-color: var(--background-white);
		border-radius: 0.5rem;
		padding: 1rem;
		height: auto;

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
	}

	.form-controls {
		display: flex;
		justify-content: flex-end;
		position: sticky;
		bottom: 2rem;
		z-index: 10;
	}
}

.form-controls {
	pointer-events: none;

	rcc-submit-button {
		pointer-events: all;
	}
}
