 <div class="heading">
	<h2>{{ setting.entry.label | translate }}</h2>

	<button *ngIf="setting.entry.information" (click)="openModal()">
		<rcc-icon name="information" size="small" [attr.aria-label]="'SETTINGS_PAGE.INFORMATION' | translate"></rcc-icon>
	</button>

	<div class="top-right">
		<ng-content select="[top-right]"></ng-content>
	</div>
 </div>
<div>
	{{ setting.entry.description | translate }}
</div>
<ng-content></ng-content>
