@import 'bengal/mixins/breakpoints';

:host {
	display:	block;
}


.background {
	background: linear-gradient(var(--supp), var(--supp-gradientBottom));
	padding: var(--content-padding, var(--rcc-padding, 1rem));
	margin: 0 calc(-1 * var(--rcc-padding));

	> * {
		max-width: var(--rcc-content-width);
		width: 100%;
		margin: 0 auto;
	}
}


.header-message {
	padding-bottom: var(--rcc-padding);
	text-align: end;
	font-family: var(--font-family-secondary);
}

rcc-card {
	min-height:		0 !important;
}

.widget-container {
	position: relative;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--rcc-off-white);
	pointer-events: none;
	margin: 0 calc(var(--rcc-padding) * -1);
	padding: var(--rcc-padding);
	box-shadow:	var(--rcc-box-shadow);

	rcc-card {
		pointer-events: auto;
		border: 1px solid var(--main);
	}

	.content {
		background: transparent;
		max-width: var(--rcc-content-width);
		margin: 0 auto;


		rcc-card.with-primary-action ::ng-deep button:not(:hover) rcc-icon {
			--icon-fill: var(--main);
		}
	}
}

.content {
	display: grid;

	grid-template-columns: auto;
	gap: 1rem;


	@include desktop {
		grid-template-columns: 1fr 1fr;
	}

	rcc-card.with-primary-action ::ng-deep button:hover rcc-icon {
		--icon-stroke: var(--icon-stroke);
	}

	rcc-widget {
		display: block !important;
		width: 100%;
		height: auto;
	}

	rcc-computed-values-list {
		margin-top: var(--rcc-padding);
	}
}

.notes {
	width: 100%;
	font-family: var(--font-family-secondary);

	.note, .notes-header {
		width: 100%;
		background-color: var(--supp-highlight);
		color: var(--supp-highlight-contrast);
		padding: 1.5rem;
		border-radius: 0.5rem;
	}

	.notes-header {
		margin-top: 1.5rem;
		text-align: start;

		display: flex;
		justify-content: space-between;

		span {
			font-size: large;
			font-weight: bold;
		}

		rcc-icon {
			--icon-dimension: 1rem;
		}
	}

	.note {
		margin-top: 0.25rem;

		&:first-of-type {
			position: relative;
			margin-top: 1rem;

			&:before {
				content: "";
				border-left: 0.5rem solid transparent;
				border-right: 0.5rem solid transparent;

				border-bottom: 1rem solid var(--supp-highlight);

				position: absolute;
				top: -1rem;
			}
		}

		.top {
			font-size: xx-small;
			margin-bottom: 0.5rem;
		}

		.date {
			font-size: large;
			font-weight: bold;

			margin-bottom: 0.5rem;
		}

	}

}
