<div #pinScrollAnchor>
	<div class="sticky-top"
		*ngIf="pinnedDataSetInfo"
	>
		<div class="content">
			<rcc-card
				[heading] 		= "pinnedDataSetInfo.dataset.question | translate"
				[primaryAction] = "pinnedDataSetInfo.pinAction"
			>
				<span class="widget-container">
					<rcc-widget
						[widgetControl]		= "pinnedDataSetInfo.dataViewControl"
						colorCategory		= "share"
						colorCategorySuffix	= "secondary"
					></rcc-widget>
				</span>
			</rcc-card>
		</div>
	</div>
	<div class="background"
		colorCategory="create"
		colorCategorySuffix="gradientBottom"
	>
		<div class="header-message">{{ message | translate }}</div>
		<div class="content">
			<ng-container *ngFor = "let datasetInfo of datasetInfos">

				<rcc-card
					[heading] 			= "datasetInfo.dataset.question | translate"
					[primaryAction] 	= "datasetInfo.pinAction"
					[hidden]			= "isDatasetCurrentlyPinned(datasetInfo)"
					>
					<span class="widget-container">
						<rcc-widget
							[widgetControl]		= "datasetInfo.dataViewControl"
							colorCategory		= "share"
							colorCategorySuffix = "secondary"
						>
						</rcc-widget>
					</span>

					<rcc-computed-values-list
						[dataViewControl] 	= "datasetInfo.dataViewControl"
						colorA				= "quaternary"
						colorB				= "primary"
						colorN				= "quinary"
					></rcc-computed-values-list>

				</rcc-card>

			</ng-container>
		</div>
		<div
			*ngIf="showNotes && notesToShow"
			class="notes"
			colorCategory="share"
		>
			<button
				class="notes-header"
				(click)="toggleNotes()"
				[attr.aria-expanded]="!collapseNotes"
			>
				<span>{{'REPORT_STACKED_VIEW.NOTES.HEADER.%s' | fill: this.dataViewScope || 'GENERIC' | translate }}</span>
				<rcc-icon
					[name] ="collapseNotes ? 'down' : 'up'"
				></rcc-icon>
			</button>
			<div
				*ngIf="!collapseNotes"

			>
				<div
					class="note"
					*ngFor = "let note of notesToShow.datapoints"
				>
					<div class="top">{{ 'REPORT_STACKED_VIEW.NOTES.NOTES' | translate }}</div>
					<div class="date">{{note.date | translate}}</div>
					<div class="content">{{ note.value }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
