:host {
	display:		block;
	height:			100%;
	width:			100%;
	position:		relative;
}

.popup {
	position: absolute;
	bottom: -0.3rem;
	transform: translateY(100%);
	left: 0;

	z-index: 2;
	font-family: var(--font-family-secondary);
}

.speech-bubble {
	padding: 0.75rem 1.25rem;
	border-radius: 0.5rem;
	background-color: var(--supp-highlight-secondary);
	width: 100%;
}

.speech-bubble::before {
	--speech-tail-height: 0.75rem;
	--speech-tail-width: 0.5rem;
	/* Chrome sometimes has rounding issues on some zoom levels */
	/* meaning it can look like there's a gap between the elements */
	--overlap: 1px;
	content: "";
	position: absolute;
	top: var(--overlap);
	left: var(--left);
	transform: translateX(-50%) translateY(-100%);
	border: transparent solid;
	border-bottom-color: var(--supp-highlight-secondary);
	border-width: 0 calc(var(--speech-tail-width) / 2) calc(var(--speech-tail-height) + var(--overlap)) calc(var(--speech-tail-width) / 2);
}

.context {
	font-size: 0.5rem;
}

.date {
	font-size: 1rem;
	font-weight: 600;
}

.note {
	font-size: 0.8rem;
}

.date,
.note {
	line-height: 150%;
}

::ng-deep g.x-axis circle,
::ng-deep g.x-axis circle + text {
	cursor: pointer;
}
