<span
	*ngIf="showPopup"
	class="popup speech-bubble"
	[ngStyle]="{ '--left': popupPositionLeft }"
	(clickOutside)="closePopup()"
	aria-live="polite"
>
	<div class="context">{{ 'REPORT_STACKED_VIEW.NOTES.NOTES' | translate }}</div>
	<div class="date">{{ popupDate | translate:dateFormat }}</div>
	<div class="note">{{ popupText }}</div>
</span>
