<rcc-card
	heading="{{'DAY_QUERIES.QUERY_RUN.COUNT_TODAY_ANSWERS' | translate : {count: doneSelectedDate, total: totalSelectedDate} }}"
	colorCategory	= "analyze">

	<span preHeading>
		<span
			*ngIf	= "!allDoneSelectedDate"
			[id]	= "'DAY_QUERIES.QUERY_RUN.ALMOST_DONE' | toID:'rcc-e2e'"
			class	= "done-text"
		>
			{{'DAY_QUERIES.QUERY_RUN.ALMOST_DONE' 	| translate}}
		</span>
		<span
			*ngIf	= "allDoneSelectedDate"
			[id]	= "'DAY_QUERIES.QUERY_RUN.ALL_DONE' | toID:'rcc-e2e'"
			class	= "done-text"
		>
			{{'DAY_QUERIES.QUERY_RUN.ALL_DONE' 	| translate}}
		</span>
	</span>

	<div
		*ngIf = "!allDoneSelectedDate"
	>
		<p
			class	= "go-back-text"
			[id]	= "'DAY_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | toID:'rcc-e2e'">
			{{'DAY_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | translate }}
		</p>
	</div>

	<div
		*ngIf = "allDoneSelectedDate"
	>
		<p
			class	= "go-back-text"
			[id]	= "'DAY_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | toID:'rcc-e2e'">
			{{'DAY_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | translate }}
		</p>
	</div>

	<div class="button-div">

		<rcc-action-button
			class			= "done-button"
			buttonSize		= "medium"
			[action]		= "viewDataAction"
			[id]			= "'DAY_QUERIES.QUERY_RUN.VIEW_DATA' | toID:'rcc-e2e'"
		>
			{{'DAY_QUERIES.QUERY_RUN.VIEW_DATA' | translate }}
		</rcc-action-button>

		<rcc-action-button
			*ngIf = "!allDoneSelectedDate"
			class = "first-question-button"
			buttonSize="medium"
			[action] = "answerRemainingQuestionsAction"
			[id]	= "'DAY_QUERIES.QUERY_RUN.ANSWER_QUESTIONS' | toID:'rcc-e2e'"
		></rcc-action-button>

		<rcc-action-button
			*ngIf		= "allDoneSelectedDate"
			colorCategory="create"
			buttonSize	= "medium"
			[action] 	= "changeAnswersAction"
			class		= "change-answers-button"
			[id]		= "'DAY_QUERIES.QUERY_RUN.CHANGE_ANSWERS' | toID:'rcc-e2e'"
		></rcc-action-button>

	</div>

</rcc-card>
