rcc-card {
	background:			linear-gradient(164.41deg, #FDFDFD 57.64%, var(--supp-highlight) 108.57%);
	--min-heading-lines: 4;
	--min-height: 32rem
}

rcc-card ::ng-deep .card-body {
	justify-content: space-between !important;
}

/** Texts **/

.done-text {
	font-size: 			1rem;
}

.count-out-of-total-text {
	font-family:		var(--font-family-secondary);
	font-weight:		600;
	font-size:			1rem;
	height: 			calc(var(--min-heading-lines, 3) *  1.5 * var(--font-size, 1rem));
	margin: 			0 0 1rem;
}

.go-back-text {
	font-family:		var(--font-family-primary);
	font-size:			.8rem;
	line-height:		1.6rem;
	margin: 			0;
}


/** Buttons **/


.first-question-button {
	display:			block;
	margin-bottom:		1rem;
}

.change-answers-button, .home-button {
	color:				var(--main);
	font-family:		var(--font-family-primary);
	font-size:			1rem;
	font-weight:		700;
	background-color: 	transparent;
}

.change-answers-button {
	margin-bottom:		1rem;

	div > button {
		background-color: transparent;
		outline: .0625rem solid var(--main);
		color: var(--main);

	}
}

.done-button {
	margin-bottom: 		2rem;
}

.button-div {
	display:			flex;
	flex-direction:		column;
	align-items:		center;
	margin-top: 		4rem;
}
