<rcc-full-page-modal-style-layout
	class				=	"heading-message"
	colorCategory		=	"secondary"
	[headingMessage]	=	"'TRANSMISSION_REQUESTS.TAN.PRESENTATION.HEADING' | translate"

>

	<div>
		<div class="modal-hint-text">{{'TRANSMISSION_REQUESTS.TAN.PRESENTATION.DESCRIPTION' | translate}}</div>
		<div class="card">
			<h2>
				{{code}}
			</h2>
		</div>
	</div>

</rcc-full-page-modal-style-layout>
