<div class="container">
	<header class="centered-content">
		<div
			class="header-bar"
			[ngClass]="{
				'button-start': buttonPlacement === 'start',
				'button-end': buttonPlacement === 'end',
				'has-sub-heading-flexbox': subHeading
			}"
		>
			<button
				class				= "close-menu"
				(click)				= "actionService.execute(action)"
				[attr.aria-label]	= "action.label | translate"
				[title]				= "action.label | translate"
				colorCategory		= "secondary"
			>
				<rcc-icon [name]="action.icon" size="medium"></rcc-icon>
			</button>
			<div
				class="heading"
				*ngIf="heading || subHeading"
			>
				<h1>
					<div class="main-heading" [ngClass]="{ 'has-sub-heading': subHeading }">
						{{ heading | translate}}
					</div>
				</h1>
					<div class="sub-heading" *ngIf="subHeading">
						{{ subHeading | translate}}
					</div>
			</div>

		</div>
		<ng-content select="[headingContent]"></ng-content>
	</header>
	<main>
		<div class="scrolling-main">
			<div class="main-content-description centered-content" *ngIf="mainContentDescription">
				{{ mainContentDescription | translate }}
			</div>
			<ng-content select="[mainContent]"></ng-content>
			<ng-content></ng-content>
		</div>
	</main>
	<footer class="footer">
		<ng-content select="[footerContent]"></ng-content>
	</footer>
</div>
