<div>
	<rcc-action-button
		*ngIf="showDeleteButton"
		class="delete-button"
		[action]="deleteAnswer"
		buttonSize="small"
	></rcc-action-button>

	<rcc-action-button
		*ngIf="!autosave"
		[action]="submit"
		buttonSize="small"
	></rcc-action-button>

	<rcc-action-button
		[ngClass]="{ 'hidden': !showResetButton }"
		[action]="reset"
		buttonSize="small"
	></rcc-action-button>
</div>
<div>
	<rcc-action-button
		[ngClass]="{ 'hidden': slider.atFirstPage || slider.atLastPage}"
		class="previous-button"
		[action]="previous"
		buttonSize="small"
	>
	</rcc-action-button>

	<rcc-action-button
		[ngClass]="{ 'hidden': slider.atLastPage }"
		class="next-button"
		[action]="next"
		buttonSize="small">
	</rcc-action-button>
</div>
