:host {
	display:			flex;
	position:			fixed;
	bottom:				0;
	left:				0;
	right:				0;
	justify-content:	space-between;
	z-index:			0;
	padding:			3rem;

	.button-container {
		display:			flex;
		justify-content:	space-between;
	}

	.hidden {
		visibility: hidden;
	}
}

:host > * {
	display:			flex;
	gap:				1rem;
}

rcc-action-button.delete-button ::ng-deep .icon-button {
	background: var(--main-contrast);
	color: var(--supp-highlight-contrast);
	border: 1px solid var(--supp-highlight-contrast);
}

rcc-action-button.delete-button ::ng-deep .disabled  .icon-button {
	background: var(--supp);
	color: var(--supp-contrast);
	border: 1px solid var(--supp-contrast);
}
