@import 'bengal/mixins/breakpoints';

:root {
	--rcc-box-shadow:							0rem 0rem .5rem 0rem var(--rcc-rgb-misc-shadow);
	--rcc-off-white:							#FDFDFD;
	--ion-item-background:						var(--rcc-off-white);
	--rcc-text-dark:							#0E0E0E;
	--rcc-text-light:							#444343;

	--rcc-rgb-misc-default:						166, 165, 165;		/* #A6A5A5 */
	--rcc-rgb-misc-back:						235, 237, 237;		/* #EBEDED */
	--rcc-rgb-misc-disabled:					214, 217, 217;		/* #D6D9D9 */
	--rcc-rgb-misc-hover:						68, 67, 67;			/* #444343 */

	--rcc-rgb-misc-shadow:						rgb(0, 0, 0, 0.1);

	--rcc-category-misc-rgb-main:						var(--rcc-rgb-misc-default);
	--rcc-category-misc-rgb-supp:						var(--rcc-rgb-misc-back);
	--rcc-category-misc-rgb-main-highlight:				var(--rcc-rgb-misc-hover);
	--rcc-category-misc-rgb-supp-highlight:				var(--rcc-rgb-misc-disabled);

	--rcc-category-misc-rgb-main-contrast:				255, 255, 255;		/* #fff */
	--rcc-category-misc-rgb-supp-contrast:				68, 67, 67;			/* #444343 */
	--rcc-category-misc-rgb-main-highlight-contrast:	255, 255, 255;		/* #fff */
	--rcc-category-misc-rgb-supp-highlight-contrast:	14, 14, 14;			/* #0E0E0E */

	--rcc-padding:								1.25rem;

	@include mobile {
		--rcc-content-width: 376px;
	}

	@include desktop {
		--rcc-content-width: 880px;
	}

	@include xLarge {
		--rcc-content-width: 1080px;
	}
}

body {
	font-family: var(--font-family-primary);
	color: var(--rcc-text-dark);
	background-color: var(--rcc-off-white);
}


:focus-visible {
	outline: .125rem solid var(--main);
	outline-offset: .125rem;
}

.screen-reader-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.centered-content {
	max-width: var(--rcc-content-width);
	width: 100%;
	padding-left: var(--rcc-padding);
	padding-right: var(--rcc-padding);
	margin-left: auto;
	margin-right: auto;
}
