:host {
	display: block;

	&.one-action-only > rcc-card:hover {
		cursor: pointer;
	}

	& > rcc-card {
		display: flex;
		justify-content: space-between;
		min-height: 0;
		padding: 1rem;

		&[role='checkbox'] {

			&:focus-within {
				border: 2px solid;
			}

			& ::ng-deep button.primary-action {
				border: 1px solid;
			}

			&:not(.selected) ::ng-deep button.primary-action,
			&:not(.selected):hover ::ng-deep button.primary-action {
				rcc-icon {
					--icon-stroke: transparent;
				}
			}
		}

		div.icon-and-text {
			display: flex;
			flex-direction: row;

			padding-right:1rem;

			div.icon {
				display: none;
				align-items: center;
				margin-right: 3rem;

				rcc-icon {
					--icon-dimension: 4rem;
				}
			}

			.label ::ng-deep {

				h1,h2,h3,h4,h5,h6 {
					font-size: 1rem;
					font-weight: bold;
					margin:	0;
				}

				p {
					font-size: 1rem;
					margin: 0;
				}
			}

		}

		div.actions {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: row;
			gap: 1rem;

			--icon-dimension: 3rem;
		}
	}
}
