<rcc-full-page
	colorCategory	=	"create"
	[pageTitle]		=	"'DAY_QUERIES.QUERY_RUN.PAGE_TITLE' | translate">

	<div headingContent>
		<nav
			headerContent
			[ngClass]			= "{'calendar-open' : showCalendar}"
			class 				= "ion-horizontal-padding"
			[attr.aria-label]	= "'DAY_QUERIES.QUERY_RUN.NAVIGATION_HEADER.LABEL' | translate"
		>
			<rcc-date-picker
				[formControl]="dateControl"
				[latest]="endDate"
				[earliest]="startDate"
				[labels]="dayLabels"
				[showTodayLabel]="true"
			></rcc-date-picker>
		</nav>
	</div>

	<div mainContent class="background">

		<rcc-query-run
			[queryControls] = "currentQueryControls"
			(cancelClick)	= "onCancel()"
			(done)			= "onDone()"
			[autosave]		= "true"
		>
			<rcc-slide>
				<rcc-empty-state-none
					data-testid="no-questions"
					*ngIf="!(hasSymptomCheck$ | async)"
				></rcc-empty-state-none>

				<rcc-empty-state-none-for-today
					data-testid="no-questions-today"
					*ngIf="(hasSymptomCheck$ | async) && !totalSelectedDate"
					[hasPreviousDateWithQuestions]="hasAnyPreviousDateWithQuestions$ | async"
					(viewAnswersClick)="handleViewAnswersClick()"
				></rcc-empty-state-none-for-today>

				<all-done-slide
					*ngIf="(hasSymptomCheck$ | async) && totalSelectedDate"
					[allDoneSelectedDate]	=	"allDoneSelectedDate"
					[doneSelectedDate]		=	"doneSelectedDate"
					[totalSelectedDate]		=	"totalSelectedDate"
					(answerQuestions)		=	"answerRemainingQuestions()"
					(changeAnswers)			=	"changeAnswers()"
				></all-done-slide>

				<a
					colorCategory="share"
					[id]="'DAY_QUERIES.QUERY_RUN.HOME' | toID:'rcc-e2e'"
					class="home-link-button"
					routerLink="/"
				>{{'DAY_QUERIES.QUERY_RUN.HOME' | translate }}</a>
			</rcc-slide>
		</rcc-query-run>
	</div>
</rcc-full-page>
