<rcc-splash-screen></rcc-splash-screen>
<rcc-full-page
	[bannerMarkdown] 	= "(bannerMarkdown | async) | translate"
	[bannerColor]		= "bannerColor | async"

>
	<span headingContent>
		<rcc-home-page-greeting data-testid="home-page-greeting"></rcc-home-page-greeting>
	</span>

	<section mainContent class="centered-content">
		<ng-container
			*ngFor 	= "let entry of activeEntries$ | async"
		>
			<rcc-action-button
				*ngIf 				= "isAction(entry)"
				[action]			= "entry"
				buttonSize			= "full"
			></rcc-action-button>

			<rcc-standalone-item-tag
				*ngIf 				= "isItemEntry(entry)"
				[item]				= "entry.item"
				[itemActionRoles]	= "entry.itemActionRoles"
			>

			</rcc-standalone-item-tag>
		</ng-container>
	</section>

</rcc-full-page>
