<div
	[colorCategory] = "colorCategory"
	[class]			= "mode"
>
	<div class="flex-container">
		<div class="icon-and-text">
			<div class="icon">
				<rcc-icon
					*ngIf	=	"itemRepresentation && itemRepresentation.icon"
					[name]	=	"itemRepresentation.icon"
					[size]	=	"'large'"
				></rcc-icon>
			</div>
			<label
				class	=	"{{ itemRepresentation ? itemRepresentation.cssClass : '' }}">

				<ng-container
					*ngIf						= "itemLabelTemplate"
					[ngTemplateOutlet] 			= "itemLabelTemplate"
				>
				</ng-container>

				<ng-container
					*ngIf						= "!itemLabelTemplate && itemRepresentation && itemRepresentation.labelComponent"
					[ngComponentOutlet] 		= "itemRepresentation.labelComponent"
					[ngComponentOutletInjector]	= "itemLabelInjector"
				></ng-container>

				<ng-content></ng-content>

			</label>
		</div>

		<div
			class				=	"actions"
			[ngSwitch]			=	"mode"
		>
			<rcc-action-button
				*ngSwitchCase	=	"'simple'"
				[action]		=	"actions[0]"
				buttonSize		=	"medium"
			>
			</rcc-action-button>

			<input
				*ngSwitchCase	=	"'select'"
				type			=	"checkbox"
				[checked]		=	"selected"
			/>

			<rcc-action-button
				*ngSwitchCase	=	"'complex'"
				[action]		=	"complexAction"
				buttonSize		=	"small"
			></rcc-action-button>

			<rcc-action-button
				*ngSwitchCase	=	"'basic'"
				[action]		=	"actions[0]"
				buttonSize		=	"small"
			>
			</rcc-action-button>
			<rcc-action-button
				*ngSwitchCase	=	"'basic'"
				[action]		=	"actions[1]"
				buttonSize		=	"small"
			>
			</rcc-action-button>

		</div>
	</div>
</div>
