:host {
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.context {
    display: block;
    margin-bottom: 7rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    card {
        background-color: var(--supp);
    }

    &:first-child {
        text-align: center;
        font-family: var(--font-family-secondary);
    }
}

rcc-button {
    ::ng-deep button {
        color: var(--main);
    }
}

rcc-action-button {
    width: 100%;

    ::ng-deep.card {
        height: 15.5rem;
    }
}
