<ion-grid class = "ion-no-padding">

	<!-- CUSTOM WORDING -->

	<ion-row><ion-col>

		<ion-item>

			<ion-label
				position	= "stacked"
				[id]		= "'MEDICATION.QUESTION_EDIT_WIDGET.WORDING' | toID:'rcc-e2e'"
			>
				{{ "MEDICATION.QUESTION_EDIT_WIDGET.WORDING" | translate }}
			</ion-label>

			<ion-input
                [formControl]   = "wordingControl"
                [placeholder]   = "'MEDICATION.QUESTION_EDIT_WIDGET.PLACEHOLDER' | translate"
            ></ion-input>

		</ion-item>

	</ion-col></ion-row>


	<!-- USE GENERIC WORDING -->

	<ion-row><ion-col>

		<ion-item>

			<ion-label [id]	= "'MEDICATION.QUESTION_EDIT_WIDGET.USE_GENERIC_WORDING' | toID:'rcc-e2e'">{{ "MEDICATION.QUESTION_EDIT_WIDGET.USE_GENERIC_WORDING" | translate }}</ion-label>

			<ion-checkbox
				[formControl] 	= "useGenericWordingControl"
				slot			= "end"
				[value]			= true
			></ion-checkbox>

		</ion-item>

	</ion-col></ion-row>


	<!-- MEDICATION / DOSAGE -->

	<ion-row>

		<ion-col size = "8">

			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'MEDICATION.QUESTION_EDIT_WIDGET.DRUG' | toID:'rcc-e2e'"
				>
					{{ "MEDICATION.QUESTION_EDIT_WIDGET.DRUG" | translate }}
				</ion-label>

				 <ion-input
					[formControl]	= "drugControl"
					autocomplete	= "on"
					list			= "drugComplete"
				></ion-input>

				<datalist id="drugComplete">
					<option
						*ngFor 	= 	"let drug of drugList"
						[value] =	"drug"
					></option>
				</datalist>

			</ion-item>

		</ion-col>

		<ion-col size = "4">
			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'MEDICATION.QUESTION_EDIT_WIDGET.DOSAGE' | toID:'rcc-e2e'"
				>
					{{ "MEDICATION.QUESTION_EDIT_WIDGET.DOSAGE" | translate }}</ion-label>

				<ion-input [formControl] = "dosageControl" ></ion-input>

			</ion-item>
		</ion-col>

	</ion-row>






</ion-grid>
