
:root {
	// ionic toast styling
	--ion-color-success: 			rgb(var(--rcc-rgb-green-disabled));
	--ion-color-success-rgb:		var(--rcc-rgb-green-disabled);
	--ion-color-success-contrast:	rgb(var(--rcc-rgb-black-hover));
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: 		rgb(var(--rcc-rgb-green-default));
	--ion-color-success-tint: 		rgb(var(--rcc-rgb-green-hover));

	--ion-color-medium: 			rgb(var(--rcc-rgb-misc-disabled));
	--ion-color-medium-rgb:			var(--rcc-rgb-misc-disabled);
	--ion-color-medium-contrast: 	rgb(var(--rcc-rgb-misc-hover));
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: 		rgb(var(--rcc-rgb-misc-default));
	--ion-color-medium-tint: 		rgb(var(--rcc-rgb-misc-back));

	--ion-default-font: 			"Rcc IBM Plex Mono" !important;
}

ion-toast {
	--max-width: 75%;
}


.rcc-theme {

	.ion-overlay-wrapper {
		width: 20rem;
		min-height: 10rem;
		padding: 1rem;
		display: block;
		border: .0625rem solid #000;
		border-radius: .5rem;

	}

	.alert-message {
		color: #000;
		font-size: .9rem;
		text-align: start;
		line-height: 1.8rem;
		padding: 0rem 0rem .5rem 1rem;
	}

	.alert-button-group {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
		align-content: center;


		* {
			text-transform: capitalize;
			-webkit-margin-end: 0rem;
			margin-inline-end: 0rem;
			text-align: center;
		}

		> :first-child {
			background-color: transparent;
			font-size: 1rem;
			color: rgb(var(--rcc-secondary-rgb-main));
			font-family: var(--font-family-primary);
			font-weight: 700;
			margin-top: 1rem;
			border: 0;
		}

		> :nth-child(2) {

			border: 0;
			height: 3rem;
			min-width: 15.5rem;
			color: #fff;
			background-color: rgb(var(--rcc-primary-rgb-main));
			border-radius: 10rem;
			font-family: var(--font-family-primary);
			font-weight: 700;

			.alert-button-inner {
				font-size: 1rem;
				justify-content: center;
			}
		}
	}

		.alert-head {
			text-align: center;
			padding: .625rem 0rem 1rem 0rem;

			h2 {
				font-size: 1rem;
				font-weight: 600;
			}

			&:empty {
				display: none;
			}
		}
}

ion-modal {
	@media only screen and (min-width: 768px) and (min-height: 768px) {
		--width: 600px;
		--height: 88vh;
	}

	@media only screen and (min-width: 768px) and (min-height: 600px) {
		--width: 600px;
		--height: 92vh;

	}
}
