<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref = "/"></ion-back-button>
		</ion-buttons>

		<ion-title [id]	= "'SYMPTOM_CHECKS_VIEW.DETAILS.TITLE' | toID:'rcc-e2e'">
			{{'SYMPTOM_CHECKS_VIEW.DETAILS.TITLE' | translate}}
		</ion-title>

<!-- 		<ion-buttons slot="end">
			<ion-button>
				<ion-icon
					slot 	= "icon-only"
					[name]	= "'actions' | rccIcon"
				></ion-icon>
			</ion-button>
		</ion-buttons>		 -->

	</ion-toolbar>
</ion-header>


<ion-content
	[fullscreen] = "true"
	*ngIf = "symptom_check !== undefined"
>

	<h1 class ="ion-padding">{{symptom_check.meta.label ?? (noLabel | translate) }}</h1>

	<ion-list>
		<ion-item>
			<ion-label>
				<p
					class	= "ion-text-wrap"
					[id]	= "'SYMPTOM_CHECKS_VIEW.DETAILS.CREATION_DATE' | toID:'rcc-e2e'"
				>
					{{'SYMPTOM_CHECKS_VIEW.DETAILS.CREATION_DATE' | translate }}:
					{{symptom_check.meta.creationDate | translate}}
				</p>

				<p
					class	= "ion-text-wrap"
					[id]	= "'SYMPTOM_CHECKS_VIEW.DETAILS.SCHEDULE' | toID:'rcc-e2e'"
				>
					{{'SYMPTOM_CHECKS_VIEW.DETAILS.SCHEDULE' | translate}}:
					{{symptom_check.meta.defaultSchedule | translate}}
				</p>

			</ion-label>

			<ion-buttons slot="end">
				<!-- <ion-button (click) = "shareQR()" slot = "end">
					<ion-icon name="qr-code-outline"></ion-icon>
				</ion-button> -->
			</ion-buttons>

		</ion-item>

		<ion-item [button] = "true" (click) = "symptom_check.togglePause()">

			<ion-label>
				<h3 [id]	= "'SYMPTOM_CHECKS_VIEW.DETAILS.STATUS' | toID:'rcc-e2e'">
					{{"SYMPTOM_CHECKS_VIEW.DETAILS.STATUS" | translate }}

				</h3>
				<p>
					<ion-text
						[color]	= "(symptom_check.meta.paused ? 'secondary' : 'primary')"
						[id]	= "'SYMPTOM_CHECKS_VIEW.DETAILS.PAUSED_%1' | toID:'rcc-e2e'"
					>
						{{'SYMPTOM_CHECKS_VIEW.DETAILS.PAUSED_%1' | fill : (symptom_check.meta.paused ? 'TRUE' : 'FALSE') | translate }}
					</ion-text>
				</p>
			</ion-label>

			<ion-icon
				[name] 	= "(symptom_check.meta.paused ? 'pause'	: 'active') | rccIcon"
				slot	= "end"
			></ion-icon>

		</ion-item>

	</ion-list>

	<ion-list>

		<ion-list-header>
			<h2 [id] = "'SYMPTOM_CHECKS_VIEW.DETAILS.QUESTIONS' | toID:'rcc-e2e'">
				{{'SYMPTOM_CHECKS_VIEW.DETAILS.QUESTIONS' | translate}}:

			</h2>
		</ion-list-header>

		<rcc-item-list>
			<rcc-list-item-tag
				*ngFor 					= "let questionRelation of symptom_check.questionRelations"
				[item]					= "questionRelation.questionId | id2Question | async"
				[itemActionRoles]		= "['details', 'productive']"
			>
				<ion-text
					color	= "secondary"
					*ngIf	= "!(questionRelation.questionId | hasAnAnswerForToday | async)"
				>
					<p>{{'QUERIES.VIEW.QUESTION_OPEN' | translate}}</p>
				</ion-text>
				<ion-text
					color	= "primary"
					*ngIf	= "(questionRelation.questionId | hasAnAnswerForToday | async)"
				>
					<p>{{'QUERIES.VIEW.QUESTION_ANSWERED' | translate}}</p>
				</ion-text>
			</rcc-list-item-tag>
		</rcc-item-list>

	</ion-list>
</ion-content>
