
<div class="splash-screen">

	<div class="logo">
			<svg [attr.width]="windowWidth/6" [attr.height]="windowHeight/6" viewBox="0 0 131 122" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M110.485 57.8759H79.4314C79.0476 57.8783 78.6671 57.8045 78.312 57.6587C77.9568 57.513 77.6341 57.2981 77.3627 57.0267C77.0913 56.7552 76.8764 56.4328 76.7306 56.0776C76.5849 55.7225 76.5111 55.3418 76.5135 54.9579V23.9524C76.5135 22.3929 75.894 20.8972 74.7913 19.7945C73.6886 18.6918 72.1929 18.0723 70.6334 18.0723H58.8185C57.2591 18.0723 55.7633 18.6918 54.6606 19.7945C53.5579 20.8972 52.9385 22.3929 52.9385 23.9524V54.9691C52.9409 55.353 52.8671 55.7335 52.7213 56.0886C52.5756 56.4437 52.3607 56.7662 52.0892 57.0377C51.8178 57.3091 51.4953 57.524 51.1402 57.6697C50.7851 57.8155 50.4044 57.8893 50.0205 57.8869H19.0334C17.4739 57.8869 15.9782 58.5064 14.8755 59.6091C13.7728 60.7118 13.1533 62.2075 13.1533 63.767V75.5819C13.1533 77.1413 13.7728 78.6371 14.8755 79.7398C15.9782 80.8425 17.4739 81.462 19.0334 81.462H50.0501C50.434 81.4595 50.8145 81.5333 51.1696 81.6791C51.5247 81.8249 51.8472 82.0397 52.1186 82.3112C52.3901 82.5826 52.6049 82.9053 52.7507 83.2604C52.8965 83.6155 52.9703 83.996 52.9678 84.3799V115.433C52.9678 116.993 53.5873 118.488 54.69 119.591C55.7927 120.694 57.2885 121.313 58.8479 121.313H70.6628C72.2223 121.313 73.718 120.694 74.8207 119.591C75.9234 118.488 76.5429 116.993 76.5429 115.433V84.4167C76.5487 83.6446 76.8578 82.9056 77.4038 82.3596C77.9497 81.8136 78.6887 81.5045 79.4608 81.4987H110.514C112.074 81.4987 113.569 80.8792 114.672 79.7765C115.775 78.6738 116.394 77.1781 116.394 75.6186V63.8037C116.401 63.0251 116.252 62.2528 115.958 61.532C115.663 60.8112 115.228 60.156 114.679 59.6046C114.129 59.0531 113.475 58.6163 112.755 58.3195C112.035 58.0228 111.263 57.872 110.485 57.8759Z" [attr.fill]="selectedVariant.bottomColor"/>
				<path d="M6.27936 0.0470371C16.7639 0.136302 26.82 4.2201 34.3982 11.466C36.1482 13.4367 37.7734 15.5147 39.2647 17.6877C39.4799 17.9715 39.6525 18.2851 39.7769 18.6189C41.132 21.4736 40.1493 23.346 37.0152 23.8116C34.8171 24.1376 32.6191 24.2772 30.4163 24.6544C26.0849 25.3335 22.0139 27.1585 18.625 29.9401C17.4095 30.8715 16.2407 31.9053 15.0205 32.888C14.4186 33.3769 13.7769 33.8146 13.1019 34.1966C12.7622 34.4069 12.3838 34.547 11.9891 34.609C11.5945 34.6711 11.1914 34.6537 10.8036 34.5578C10.4157 34.462 10.0509 34.2896 9.73058 34.0508C9.41029 33.812 9.141 33.5117 8.93841 33.1674C8.59932 32.7553 8.34451 32.2807 8.18859 31.7703C5.70643 24.6126 3.22908 17.4035 0.844719 10.2458C0.406175 8.80296 0.154152 7.31 0.0948977 5.80315C-0.0509459 5.08288 -0.0283972 4.33862 0.160557 3.62844C0.349511 2.91827 0.699886 2.26125 1.18438 1.7087C1.66888 1.15614 2.27438 0.72284 2.95377 0.442697C3.63316 0.162555 4.36804 0.0431869 5.10119 0.0936522C5.49263 0.0544454 5.88604 0.0388484 6.27936 0.0470371Z" [attr.fill]="selectedVariant.topColor"/>
				<path d="M124.653 0C125.263 0.0465696 125.683 0.0463763 126.106 0.092946C129.52 0.465503 131.229 2.24452 130.88 5.68136C130.657 8.30913 130.122 10.9012 129.287 13.4027C127.322 19.3916 125.17 25.2873 123.066 31.2296C122.757 32.0497 122.332 32.8213 121.804 33.5208C121.425 34.0553 120.868 34.438 120.234 34.6009C119.599 34.7638 118.928 34.6962 118.339 34.4102C117.269 33.8109 116.251 33.1223 115.297 32.3517C113.146 30.7591 111.106 29.0313 108.843 27.6249C104.966 25.4375 100.612 24.2321 96.1624 24.1137C95.0097 24.0173 93.8667 23.8287 92.7441 23.55C92.379 23.4779 92.0336 23.3278 91.7322 23.1094C91.4308 22.8911 91.1801 22.6099 90.9977 22.2854C90.8154 21.961 90.7058 21.601 90.676 21.2301C90.6462 20.8591 90.6973 20.486 90.8255 20.1366C91.0577 19.26 91.4201 18.4231 91.9011 17.6543C96.297 10.4695 103.172 5.14352 111.228 2.68236C115.567 1.2067 120.08 0.304964 124.653 0Z" [attr.fill]="selectedVariant.topColor"/>
			</svg>
	</div>
		<div class="background-svg">
		<svg [attr.width]="windowWidth" [attr.height]="windowHeight" [attr.viewBox]="'0 0 ' + windowWidth + ' ' + windowHeight" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_10145_38852)">
				<rect [attr.width]="windowWidth" [attr.height]="windowHeight" fill="url(#paint0_linear_10145_38852)"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_10145_38852" [attr.x1]="windowWidth / 2" y1="0" [attr.x2]="windowHeight / 2" [attr.y2]="windowHeight" gradientUnits="userSpaceOnUse">
					<stop [attr.stop-color]="selectedVariant.topColor"/>
					<stop offset="1" [attr.stop-color]="selectedVariant.bottomColor"/>
				</linearGradient>
				<clipPath id="clip0_10145_38852">
					<rect [attr.width]="windowWidth" [attr.height]="windowHeight" fill="black"/>
				</clipPath>
			</defs>
		</svg>
	</div>
</div>
