<ng-template>
	<div>{{ 'SESSIONS.BASIC_LABEL.ACTIVE_SESSION' | translate }}</div>
	<div>{{ session.startDate | translate:dateFormat }}</div>
	<div>{{ 'SESSIONS.BASIC_LABEL.SESSION_SUMMARY' | translate:{ questionCount } }}</div>
</ng-template>
