<span
	[colorCategory]="greyedOut ? 'quinary' : 'primary'"
	[ngClass]="{ 'greyed-out': greyedOut }"
>
	<div
		data-testid="value-indicator"
		class="value-container"
		(click)="onDelete()"
	>
		<span
			class="value"
			[ngStyle]="{ '--left': value + '%' }"
		>
			{{value}}
		</span>
	</div>
	<div class="input-container">
		<input
			type="range"
			[min]="queryControl.question.min"
			[max]="queryControl.question.max"
			[formControl]="queryControl.answerControl"
			[readOnly]="queryControl.formsDisabled"
			[attr.aria-label]="queryControl.question | translate"
			(click)="handleClick()"
			(mousedown)="handleMousedown($event)"
			(pointerdown)="handleMousedown($event)"
			(mouseup)="handleMouseup()"
			(pointerup)="handleMouseup()"
			(keydown.esc)="onDelete()" [attr.aria-description]="'BASIC_QUERY_WIDGETS.RESET_HINT' | translate"
		>
		<div class="fill-indicator-container">
			<svg
				#fillIndicator
				viewBox="0 0 16 16"
				xmlns="http://www.w3.org/2000/svg"
				class="fill-indicator"
				(keydown.esc)="onDelete()" [attr.aria-description]="'BASIC_QUERY_WIDGETS.RESET_HINT' | translate"
				[ngStyle]="{ '--left': value + '%'}"
				[ngClass]="{ 'has-value': value != null, 'greyed-out': greyedOut }"
			>
				<circle cx="8" cy="8" r="4" />
			</svg>
		</div>
	</div>
	<div class="labels">
		<span>{{ queryControl.question.min }}</span>
		<span>{{ queryControl.question.max }}</span>
	</div>
</span>
