@import 'bengal/mixins/breakpoints';

rcc-slider {
	width:						100%;
	scroll-padding:				0 var(--rcc-padding);
}

rcc-slider::before {
	flex-basis:					auto !important;
	min-width:					calc((100% - var(--rcc-content-width) + .5rem) / 2);
}

rcc-slider::after {
	flex-basis: auto !important;
	min-width:					100%;
}

rcc-slide {
	width:						21.125rem;
	flex:						0 0 auto;
	scroll-snap-align:			start;
	scroll-margin-left:			calc((100% - var(--rcc-content-width) + .5rem) / 2);
	overflow-y:					hidden;
	left:						.25rem;
}

rcc-slide+rcc-slide {
	margin-left:				-1rem;
}

rcc-card {
	--font-size:				0.9rem;
	--min-height:				15.5rem;

	& ::ng-deep button.primary-action {
		margin-right:			0.5rem;
	}
}

.contains-button,
.contains-question {
	margin:						1rem 1rem;
}

rcc-card[draggable="true"].contains-question {
	cursor: grab;

	// We need to briefly give the card a higher z-index when
	// we start dragging, otherwise the user will see a bit of
	// the scroll button on the card. This causes a slight
	// flashing effect, which is undesirable, however the solutions
	// to this are not consistent across browsers
	&.dragging {
		z-index: 3;
		outline: .125rem solid var(--supp-highlight);
		outline-offset: -.125rem;
		pointer-events: auto;
	}
}

.left-drop-zone::before,
.right-drop-zone::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: .25rem;
	background-color: var(--main); // Use your preferred color
}

.left-drop-zone::before {
	left: -.625rem;
}

.right-drop-zone::after {
	right: -.625rem;
}

rcc-card.contains-button {
	display:					flex;
	align-items:				center;
	justify-content:			center;

}

rcc-card.contains-button rcc-action-button {
	width:						100%;
}

.question-container {
	scroll-padding-left:		var(--rcc-padding);
	scroll-snap-align:			start;
	scroll-snap-align:			start;
	scroll-behavior:			smooth;
	scroll-snap-type:			x mandatory;
	position:					relative;

	rcc-slider {
		width:					100%;
		scroll-padding-left:	calc((100% - var(--rcc-content-width) + .5rem) / 2);
		scrollbar-width:		none;

		&::-webkit-scrollbar {
			display:			none;
		}
	}

	&.has-overspill:hover {
		.navigation-button {
			display:			block;
		}
	}
}

h2 {
	font-size:					.8rem;
	font-weight:				400;
	font-family:				var(--font-family-primary);
	margin:						0rem 0;
}

.schedule-display {
	color:						var(--main);
	font-family:				var(--font-family-primary);
	font-size:					0.9rem;
	margin-right:				.25rem;
	padding:					0.9rem 0;
	border-top:					solid 1px var(--main);
}

.navigation-button-container {
	@media (hover: none) {
		display: none
	}
}

.navigation-button {
	--radius:					1.6rem;
	height:						calc(var(--radius) * 2);
	width:						calc(var(--radius) * 2);
	border-radius:				var(--radius);
	background-color:			var(--main);
	color:						var(--main-contrast);
	position:					absolute;
	top:						calc(15.5rem / 2 + 1rem); // half of min height + padding
	transform:					translateY(-50%);
	display:					none;
	z-index:					3;

	rcc-icon {
		--icon-dimension:		1.5rem;
	}

	.next-icon {
		transform:				translateX(10%);
	}

	.previous-icon {
		transform:				translateX(-10%);
	}

	&.previous {
		left:					4.2rem;
	}

	&.next {
		right:					4.2rem;
	}

	&:hover {
		background-color:		var(--main-highlight);
	}
}

.drag-hover {
	background-color:			var(--supp-highlight);
	transition:					background-color ease-in-out 0.2s;
	z-index: 					500;

	rcc-slider > rcc-slide > * {
		pointer-events:			none;
	}
}

.dropped {
	animation:					drop-effect ease-in-out 0.5s, border-highlight ease-in-out 5s;
	outline-style:				solid;
	outline-width:				2px;
	outline-offset:				-2px;
	outline-color:				transparent;
}

@keyframes drop-effect {
	from {
		transform:				scale(0.9);
	}

	to {
		transform:				scale(1);
	}
}

@keyframes border-highlight {
	0% {
		outline-color:			var(--supp-highlight);
	}

	80% {
		outline-color:			var(--supp-highlight);
	}

	100% {
		outline-color:			white;
	}
}
