<ng-container *ngIf="categorizedQuestions$ | async as catQuestions">
	<ng-container *ngIf="!hide">
		<div class="centered-content">
			<h2 *ngIf="category !== null">{{'QUESTIONNAIRE_EDITOR.%s.heading' | fill: category | translate}}</h2></div>
		<div
			class="question-container"
			[ngClass]="{ 'has-overspill': catQuestions.length > 0, 'drag-hover': dragHover }"
			#questionListContainer
			colorCategory="create"
			(drop)="allowDragAndDrop && onDrop($event)"
			(dragenter)="allowDragAndDrop && onDragEnterLane()"
			(dragleave)="allowDragAndDrop && onDragLeaveLane($event)"
		>
			<rcc-slider #slider [addSpaceLeft]="true">
				<rcc-slide
					#slideRef
					*ngFor="let catQuestion of catQuestions; index as index; trackBy:trackQuestion"
					[attr.data-question-id]="catQuestion.question.id"
				>
					<rcc-card
						[heading]="questionHeading(catQuestion.question)"
						[primaryAction]="getEditAction(catQuestion)"
						[secondaryAction]="getRemoveAction(catQuestion)"
						class="contains-question"
						[ngClass]="{ dragging: startDragging, dropped: droppedId === catQuestion.question.id,
							'left-drop-zone': isLeftDropZone(catQuestion.question.id),
							'right-drop-zone': isRightDropZone(catQuestion.question.id),
						}
							"
						[note]="catQuestion.schedule| translate"
						colorCategory="create"
						[showActionIcons]="mode === 'edit'"
						[draggable]="allowDragAndDrop && mode !== 'preview'"
						(dragstart)="allowDragAndDrop && onDragStart($event, catQuestion)"
						(dragend)="onDragEnd()"
					>
						<rcc-widget
							[widgetControl]="getQueryControl(catQuestion.question)"
							[greyedOut]="true"
							[cardView]="true"
						></rcc-widget>
					</rcc-card>
				</rcc-slide>

				<rcc-slide
					*ngIf="mode === 'edit' || mode === 'init'"
				>
					<rcc-card
						class 	= "bare contains-button"
						colorCategory="create"
					>
						<rcc-action-button
							[action]	= "addQuestion"
							[hideCard]	= "true"
						>
						</rcc-action-button>
					</rcc-card>
				</rcc-slide>

			</rcc-slider>

			<div class="navigation-button-container" *ngIf="!entireSetOfQuestionsVisible">
				<button
					class="navigation-button previous"
					(click)="slider.previous()"
					[attr.aria-label]="'QUESTIONNAIRE_EDITOR.SCROLL_BACK' | translate"
				>
					<rcc-icon name="previous" class="previous-icon"></rcc-icon>
				</button>
				<button
					class="navigation-button next"
					(click)="slider.next()"
					[attr.aria-label]="'QUESTIONNAIRE_EDITOR.SCROLL_FORWARD' | translate"
				>
					<rcc-icon name="next" class="next-icon"></rcc-icon>
				</button>
			</div>
		</div>

	</ng-container>
</ng-container>
