:host {
	font-family: var(--font-family-secondary);
	padding: 1.25rem 1.3rem;
	padding-top: 0rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	:first-child {
		font-size: 0.5rem;
		font-weight: 400;
	}

	button {
		height: 3rem;
		width: 3rem;
		justify-content: center;
		margin-right: -1.25rem;
		background-color: transparent;
	}	
}

h1 {
	font-size: 0.9rem;
	font-weight: 600;
	margin: 0;
	margin-bottom: 1rem;
	line-height: 180%;
}

p {
	font-size: 0.8rem;
	line-height: 180%;
}

footer {
	font-size: 0.5rem;
	line-height: 180%;
}

ul {
	list-style: none;
	padding: 0;
}
