<rcc-full-page-modal-style-layout
	[headingMessage]	=	"heading | translate"
	[colorCategory]		=	"mode === 'receive' ? 'receive' : 'share'"
>
	<div class			=	"content-container">
		<div class="text">{{ ( additionalInfoText || 'SHARE_DATA.SHOW_QR_CODE.DEFAULT' ) | translate }}</div>

		<rcc-qr-code
			*ngIf		= "qr_data; else skeleton"
			[data] 		= "qr_data"
		></rcc-qr-code>

		<ng-template #skeleton>
			<div class="qr-skeleton" colorCategory="misc"></div>
		</ng-template>

		<ng-content></ng-content>
	</div>
</rcc-full-page-modal-style-layout>
