<ng-template>

	<h3
		class	="ion-text-wrap"
		[id]	= "question.id | toID:'rcc-e2e'"
	>
		{{question | translate}}
		<span *ngIf = "question.unit">
			({{question.unit}})
		</span>
	</h3>
	<p>
		{{ question.min ? 'min: '+question.min :'' }}
		{{ question.min ? 'max: '+question.max :'' }}
		<span
			*ngFor	=" let option of (question | labeledOptions); last as $last"
			[class]	= "question.id + '-' + question.type | toID:'rcc-e2e'"
		>
			{{ option | translate }}{{$last ? '' : ', '}}
		</span>
	</p>

</ng-template>
