rcc-slider {
	position: 					relative;
	display: 					flex;
	flex-direction:				row;
	overflow-x:					scroll;
	scroll-behavior:			smooth;
	scroll-snap-type:			x mandatory;
	align-items: 				stretch;
}

/* These pseudo elements ensure, that every slide can be scrolled
to the start or the end of the slider */
rcc-slider:before,
rcc-slider:after {
	content: 					'';
	flex: 						0 0 80%;
	min-height:					1px;
}

rcc-slide {
	display: 					block;
	position: 					relative;
	scroll-snap-stop:			always;
	scroll-snap-align:			center;
	overflow-y: 				scroll;
	flex: 						0 0 100%;
}
