<ion-content class = "ion-padding ion-text-center">

	<p class 	= "ion-text-center .ion-text-uppercase">
		{{message}}
	</p>

	<div class = "ion-text-center">
		<rcc-icon name = "load"></rcc-icon>
	</div>

</ion-content>
