<ng-container [formGroup]="daysInWeekSelectorForm">
	<ng-container *ngFor="let formControlKey of formControlKeys">
		<input
			type="checkbox"
			tabindex="0"
			[id]="id(formControlKey)"
			[formControlName]="formControlKey"
			[attr.aria-label]="'DAYS.LONG.%1' | fill: formControlKey | translate"
			[attr.aria-checked]="!!daysInWeekSelectorForm.get(formControlKey).value"
		/>
		<label
			[for]="id(formControlKey)"
		>{{ 'DAYS.SHORT.%1' | fill: formControlKey | translate }}</label>
	</ng-container>
</ng-container>
