:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 320px;
    margin: 1rem 0;
}

input[id^=schedule-editor-item] {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
input[type=checkbox] {
    + label[for^=schedule-editor-item] {
        flex-basis: calc(100% / 7);
        display: block;
        text-align: center;
        font-size: .8rem;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid black;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 auto 12px;
        }
    }
    &:checked + label[for^=schedule-editor-item]::before {
        background-image: radial-gradient(var(--main, black) 4px, transparent 4.5px);
        background-position: center;
        background-repeat: no-repeat;
    }
    &:focus-visible + label[for^=schedule-editor-item]::before {
        outline: 2px solid var(--main, blue);
        outline-offset: 2px;
    }
}