<rcc-full-page
	colorCategory="create"
>

	<div
		headingContent
	>
		<rcc-current-date-message
			[bold]	=	"true"
		>
			<ng-container *ngIf="initMode; else selected">
				{{ 'QUESTIONNAIRE_EDITOR.CHOOSE_TEMPLATE' | translate }}
			</ng-container>
		</rcc-current-date-message>

		<div
			[ngClass]	= "{ 'expanded': expanded }"
			class		= "header centered-content"
		>
			<ng-container *ngIf="editMode || initMode; else previewHeader">

				<rcc-action-button
					[action]	= "previewAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					[ngClass]	= "{ 'hidden': !expanded }"
					class		= "mobile-view"
					[action]	= "backAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					[ngClass]	= "{ 'hidden': !expanded }"
					class		= "mobile-view"
					*ngIf		= "showSaveButton"
					[action]	= "saveAction"
					buttonSize	= "medium"
				></rcc-action-button>
			</ng-container>

			<ng-template #previewHeader>

				<rcc-action-button
					[action]	= "primaryAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					[ngClass]	= "{ 'hidden': !expanded }"
					class		= "mobile-view"
					[action]	= "editAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					[ngClass]	= "{ 'hidden': !expanded }"
					class		= "mobile-view"
					*ngIf		= "showSaveButton"
					[action]	= "saveAction"
					buttonSize	= "medium"
				></rcc-action-button>
			</ng-template>

			<button class="show-menu" colorCategory="primary" (click)="expandHeader()">
				<rcc-icon
					size="medium"
					name="menu_dots"
					[attr.aria-label]="'MENU_BUTTON' | translate">
				</rcc-icon>
			</button>
		</div>


	</div>

	<ng-template #selected
		[formGroup]="nameFormGroup"
	>
		<rcc-edit-text
			class="questionnaire-name-form"
			formControlName="name"

			[inputLabel]="'QUESTIONNAIRE_EDITOR.QUESTIONNAIRE_TITLE.LABEL' | translate"
			[editLabel]="'QUESTIONNAIRE_EDITOR.QUESTIONNAIRE_TITLE.EDIT' | translate"
			[doneLabel]="'QUESTIONNAIRE_EDITOR.QUESTIONNAIRE_TITLE.DONE' | translate"
			[multiLine]="false"
			[rows]="1"
			[readOnly]="!editMode"
		></rcc-edit-text>
	</ng-template>


	<section mainContent [formGroup]="templateFormGroup">

		<!-- section for all the questions -->
		<div class = "questions">

			<div class="centered-content" id="template-select">
				<rcc-pull-down-select
					[options]="templates$ | async"
					formControlName="template"
					[allowTextInput]="false"
					[clearInputField]="true"
					[enableHovering]="true"
					[unselectedText]="'QUESTIONNAIRE_EDITOR.SELECT_TEMPLATE' | translate"
				></rcc-pull-down-select>
			</div>

			<!-- question categories -->
			<div *ngFor = "let category of visibleQuestionCategories">
				<rcc-question-lane
					colorCategory="create"
					[category]="category"
					[mode]="mode$ | async"
				></rcc-question-lane>
			</div>
			<div class="quick-action-list-container centered-content">
				<h2>{{'QUESTIONNAIRE_EDITOR.SCHEDULE_AND_REMINDER' | translate}}</h2>
				<div class = "quick-action-list">
					<rcc-card id = "quick-action-card">
						<rcc-quick-action-list
							*ngFor="let action of quickActions$ | async"
							(editClick)="action.handler()"
							color="create"
							[editable]="true"
						>{{ action.data | translate }}
						</rcc-quick-action-list>
					</rcc-card>
				</div>
			</div>
		</div>


		<div class="footer centered-content" >
			<ng-container *ngIf="editMode || initMode; else previewFooter">
				<rcc-action-button
					[action]	= "previewAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					[action]	= "backAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					*ngIf		= "showSaveButton"
					[action]	= "saveAction"
					buttonSize	= "medium"
				></rcc-action-button>
			</ng-container>
		</div>

		<ng-template #previewFooter>
			<rcc-action-button
				[action]	= "primaryAction"
				buttonSize	= "medium"
			></rcc-action-button>

			<rcc-action-button
				[action]	= "editAction"
				buttonSize	= "medium"
			></rcc-action-button>

			<rcc-action-button
				*ngIf		= "showSaveButton"
				[action]	= "saveAction"
				buttonSize	= "medium"
			></rcc-action-button>
		</ng-template>

	</section>

</rcc-full-page>
