@import 'bengal/mixins/breakpoints';

:host {
	display: contents;
	margin-bottom: 2rem;
}

.questionnaire-name-form {
	display:				block;

	justify-content:		space-between;
	align-items:			flex-end;
	background-color:		transparent;
	font-family:			var(--font-family-primary);
	font-weight: 			700;
	gap:					2rem;

	rcc-icon {
		height:				1rem;
	}

	&:disabled {
		color: inherit;
	}
	gap:					1rem;
}

[maincontent] {
	display: 				flex !important;
	flex-direction: 		column;
	gap: 					0 !important;
}

[maincontent] h2 {
	font-size: 				.8rem;
	font-family: 			var(--font-family-primary);
	margin: 				0rem 0;
}

.questions {
	box-sizing:				content-box;
	padding: 				var(--rcc-padding) 0;
	margin:					0 calc(-1 * var(--rcc-padding) );
	padding-top: 			0;
	background-color: 		var(--supp);

	> :first-child {
		margin-top: 			1rem;
	}
}

rcc-full-page ::ng-deep header {
	margin-bottom: 0rem;
}

#template-select {
	margin-bottom: 0.875rem;
	--select-border: transparent;
	--select-outline: transparent;
	--select-vertical-padding: 0.653rem;
	--select-option-vertical-padding: 0.9065rem;
}

.quick-action-list {
	display: 				flex;
	align-items: 			stretch;
	flex-direction: 		row;
	margin-top:				1rem;

}

rcc-quick-action-list {
	width:					19.125rem;
	flex: 					0 0 auto;
}

.header {
	position:				relative;
	margin-top:				1rem;
	margin-bottom:			1rem;
	padding-right:			0rem;
	display:				flex;
	flex-direction:			column;
	column-gap:				1rem;
	row-gap:				1.5rem;

	@include desktop {
		flex-direction:		row;
		justify-content:	end;
	}

	@include mobile {
		align-items:		flex-start;
		padding-left:		initial;
	}
}

.expanded {
	height: 100%
}

.hidden {
	@include mobile {
			display: none;
		}
}

.show-menu {
	position:			absolute;
	top:				0;
	right:				0;
	background-color:	inherit;
	height:				3rem;
	width:				3rem;
	&:hover {
			border-radius: 50%;
			background-color: var(--supp);
			--icon-fill: var(--main-highlight);
		}
	rcc-icon {
		--icon-fill: var(--main);

		&:hover {
			border-radius: 50%;
			background-color: var(--supp);
			--icon-fill: var(--main-highlight);
		}
	}
	@include desktop {
		display: none;
	}
}


.footer {
	padding-top:			2rem;
	padding-bottom:			2rem;
	display:				flex;
	flex-direction:			column;
	column-gap:				1rem;
	row-gap:				2rem;

	@include desktop {
		flex-direction:		row;
		justify-content:	end;
	}
}

rcc-card {
	width:					19.125rem;
	flex: 					0 0 auto;
	scroll-snap-align:		start;
}

#quick-action-card {
	display:				block;
	padding: 				1rem 0;
	box-sizing: 			border-box;
	line-height:			.875rem;
	--background-color:		#FFF;
	--font-size: 			1rem;
	min-height:				0;
	background-color: 		var(--background-color);
	border-radius: 			.5rem;
	border:					1px solid #0E0E0E;
}

#quick-action-card ::ng-deep .heading {
	display:				none;
}
#quick-action-card ::ng-deep :nth-child(2) {
	margin-top:				0;
}
