rcc-full-page {
	display: 			block;
	min-height: 		100%;
}

rcc-full-page > ion-content h1 + h2 {
	margin-top: 		0;
}

rcc-full-page > ion-content::part(scroll){
	padding: 			2rem 0;
	display:			flex;
	flex-direction:		column;
	justify-content:	flex-start;
	align-items: 		stretch;
}

rcc-full-page > ion-content > footer {
	margin-bottom: 		-2rem;
}

rcc-full-page > ion-content > article,
rcc-full-page > ion-content > section,
rcc-full-page > ion-content > nav,
rcc-full-page > ion-content > div {
	flex: 				1 0 auto;
	display: 			flex;
	flex-direction: 	column;
	justify-content: 	center;
	align-items: 		stretch;
	max-width: 			100%;
}

rcc-full-page > ion-content > section > rcc-action-button {
/*	height:				15.5rem;*/
	margin:				1rem;
}
