
<ion-fab
	vertical 	= "top"
	horizontal	= "start"
	slot		= "fixed"
	id			= "rcc-e2e-menu-button"
>
	<ion-menu-toggle autoHide="false">
		<ion-fab-button (click)="onMenuClick()" color = "light">
			<ion-icon [name] = "'menu'| rccIcon"></ion-icon>
		</ion-fab-button>
	</ion-menu-toggle>
</ion-fab>



<ion-fab
	*ngIf		= "showHomeButton"
	vertical	= "top"
	horizontal	= "end"
	slot		= "fixed"
>
	<ion-button
		button
		color 			= "primary"
		fill			= "clear"
		[routerLink]	= "closeEvent.observers.length === 0 ? '/'  : null"
		(click)			= "closeEvent.observers.length === 0 ? null : closeEvent.emit()"
		routerDirection = "root"
	>
		<rcc-icon name ="close"></rcc-icon>
	</ion-button>
</ion-fab>




<ion-content [fullscreen] 	= "true">

	<ng-content></ng-content>

</ion-content>
