<ion-list>
    <ion-radio-group [formControl] = "radioFormControl">
        <ion-item
            *ngFor = "let option of options; last as $last"
            [lines] = "$last ? 'none' : 'full'"
        >
            <ion-radio
                slot	= "end"
                [value]	= "option.value">
            </ion-radio>
            <ion-label [class] = "'basic-query-select-option' | toID:'rcc-e2e'">{{option | translate}}</ion-label>
        </ion-item>
    </ion-radio-group>
</ion-list>
