@import 'bengal/mixins/breakpoints';

:host {
	max-width:		var(--rcc-content-width);
	width:			100%;
	display:		flex;
	align-items: 	end;
	flex-direction:	column;
	position:		fixed;
	bottom:			1.25rem;
	opacity: 		0;

	@include desktop {
		width: var(--rcc-content-width);
	}

	@include mobile {
		width: 88%;
	}
}
