:host {
	width: 100%;
}
.container {
	display: flex;
	font-family: var(--font-family-secondary);

	&:not(.multi-line) {
		align-items: center;
	}

	input {
		--line-height: 1.5rem;
	}

	textarea {
		--line-height: 2rem;
	}

	input,
	textarea {
		flex: 1;

		height: fit-content;

		resize: none;

		font-size: 1rem;
		line-height: var(--line-height);
		border: none;
		outline-offset: .5rem;

		outline: none;

		padding-left: var(--textarea-indent);
		margin-right: 1rem;

		&:focus-visible {
			background-color: var(--supp);

			+ button.editButton {
				display: none;
			}
		}

		&:not(:focus-visible) {
			+ button.editButton + button.doneButton {
				display: none;
			}
		}
	}

	input::placeholder {
		font-style: italic;
	}

	button {
		background-color: inherit;

		height: fit-content;

		&[hidden] {
			display: none;
		}
	}

	&:hover {
		button.editButton rcc-icon {
			--icon-fill: 		var(--main-highlight);
			--icon-stroke: 		var(--main-highlight-contrast);
		}
	}

	button.doneButton:hover rcc-icon {
		--icon-stroke: 		var(--main-highlight);
	}

	input:disabled {
		background-color: transparent;
	}
}
