<div
	class="container"
	[ngClass]="{ 'multi-line': multiLine }"
>
	<ng-container *ngIf="multiLine; else singleLine">
		<textarea
			#textArea
			[attr.aria-label]="inputLabel"
			[disabled]="disabled || readOnly"
			[rows]="rows"
			(keydown)="disabled ? null : handleKeydown($event)"
			[value]="renderValue"
			(change)="onChange()"
			(blur)="onTouched()"
			[placeholder]="placeholder"
			(focusin)="editText()"
			(focusout)="doneEditing()"
		></textarea>
	</ng-container>

	<ng-template #singleLine>
		<input
			#textArea
			[attr.aria-label]="inputLabel"
			[disabled]="disabled || readOnly"
			(keydown)="disabled ? null : handleKeydown($event)"
			[value]="renderValue"
			(change)="onChange()"
			(blur)="onTouched()"
			[placeholder]="placeholder"
			(focusin)="editText()"
			(focusout)="doneEditing()"
		>
	</ng-template>

	<button
		#editButton
		type			=	"button"
		class			=	"editButton"
		(click)			=	"(readOnly || disabled) ? null : editText()"
		[hidden]		=	"(readOnly || disabled || edit) ? 'hidden' : null"
		[tabIndex]		=	"-1"
	>
		<rcc-icon name = "edit" size = "small"></rcc-icon>
	</button>

	<button
		#doneButton
		type			=	"button"
		class			=	"doneButton"
		(click)			=	"doneEditing()"
		[hidden]		=	"(edit) ? null : 'hidden'"
		[tabIndex]		=	"-1"
	>
		<rcc-icon name = "check_mark" size = "small"></rcc-icon>
	</button>
</div>
