.modal-layout.loading {
    ::ng-deep .card {
        animation-name: change-color;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        background: linear-gradient(
            180deg,
            var(--supp) 33%,
            var(--supp-target) 66%
        );
        background-size: 100% 200%;
    }
}

@keyframes change-color {
    0% {
        background-position-y: 0%;
    }

    50% {
        background-position-y: 100%;
    }

    100% {
        background-position-y: 0%;
    }
}
