
rcc-reduced-full-page {
	.grid {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	rcc-action-button {
		display: block;

		::ng-deep div.card {
			background: var(--main-contrast);
		}
	}

	.download-success-button {
		::ng-deep div.card {
			button {
				background-color: transparent;
				color: var(--main);
			}
		}
	}
}
