<rcc-reduced-full-page
	[heading]				=		"'BACKUP.PAGE.TITLE'"
	[colorCategory]			=		"['primary'	, 'secondary']"
	[colorCategorySuffix]	=		"['start'	, 'end']"
	[buttonPlacement]		=		"'start'"
	[exitAction]			=		"'back'"
>
	<div class="grid centered-content" colorCategory="misc">
		<rcc-action-button
			[ngClass]="{ 'download-success-button': downloadSuccess }"
			[action]="downloadAction"
			buttonSize="full"
		></rcc-action-button>

		<rcc-action-button
			[action]="restoreAction"
			buttonSize="full"
		></rcc-action-button>
		<input
			[hidden]="true"
			#fileInput
			type="file"
			(change)="onChange()"
		/>

		<rcc-action-button
			[action]="sendAction"
			buttonSize="full"
		></rcc-action-button>
	</div>
</rcc-reduced-full-page>
