<div class="heading-text">
	<div>{{ mainHeading }}</div>
	<div>{{ subHeading }}</div>
</div>
<button [attr.aria-label]="'CLOSE' | translate" (click)="closeModal()" colorCategory="secondary">
	<rcc-icon name="close"></rcc-icon>
</button>
