<div [colorCategory]="action.category" [ngClass]="{ card: cardBackground, disabled }">
	<!-- Medium-sized buttons: Only button with label -->
	<ng-container
		*ngIf = "action && buttonSize === 'medium'"
	>
		<a
			*ngIf		= "isLink(action)"
			[id]		= "action.label | toID:'rcc-e2e'"
			class		= "button"
			[ngClass]	= "{ outline }"
			[routerLink]="action.path"
		>
			{{ action.label | translate}}
		</a>
		<button
			*ngIf		= "!isLink(action)"
			[id]		= "action.label | toID:'rcc-e2e'"
			(click)		= "execute()"
			class		= "button"
			[ngClass] 	= "{ outline }"
			[disabled]	= "disabled"
		>
			{{ action.label | translate}}
		</button>
	</ng-container>

	<!-- Full-sized buttons: Icon, notification value, button/label, description -->
	<ng-container
		*ngIf = "action && showCard"
	>
		<!-- Action icon -->
		<div class = "icon">
			<rcc-icon
				[name] = "action.icon"
				[size] = "'large'"
			></rcc-icon>
		</div>

		<!-- Actual button -->
		<ng-container *ngIf="buttonSize !== 'none'">
			<a
				*ngIf			= "isLink(action)"
				class			= "button"
				[ngClass]		= "{ outline }"
				[id]			= "action && action.label | toID:'rcc-e2e'"
				[routerLink] 	= "action.path"
			>
				{{ action.label | translate}}
				<ng-container *ngIf="notificationValue">
					{{ notificationValue === true ? '!' : '('+notificationValue+')' }}
				</ng-container>
			</a>

			<button
				*ngIf		= "!isLink(action)"
				class		= "button"
				[ngClass]	= "{ outline }"
				[id]		= "action && action.label | toID:'rcc-e2e'"
				(click)		= "execute()"
				[disabled]	= "disabled"
			>
				{{ action.label | translate}}
				<!-- Notification value, if present -->
				<ng-container *ngIf="notificationValue">
					{{ notificationValue === true ? '!' : '('+notificationValue+')' }}
				</ng-container>
			</button>
		</ng-container>

		<!-- Action description below the button, if present -->
		<div
			*ngIf	= "hasDescription(action)"
			[id]    = "action.description | toID:'rcc-e2e'"
			class	= "description"
		>

			{{ action.description | translate }}

			<ng-container
				*ngIf				= "hasChildComponent(action)"
				[ngComponentOutlet]	= "action.childComponent"
			>
			</ng-container>
		</div>
	</ng-container>

	<ng-container *ngIf = "action && buttonSize === 'small'">
		<a
			*ngIf				= "isLink(action); else isButton"
			class				= "icon-button"
			[ngClass]			= "{ disabled: isDisabled(), outline }"
			[attr.aria-label]	= "action.label | translate"
			[title]				= "action.label | translate"
			[routerLink]		= "action.path"
		>
			<rcc-icon [name]="action.icon" size="small"></rcc-icon>
		</a>

		<ng-template #isButton>
			<button
				class				= "icon-button"
				[ngClass] 			= "{ outline }"
				[attr.aria-label]	= "action.label | translate"
				[title]				= "action.label | translate"
				(click)				= "execute()"
				[disabled]			= "isDisabled()"
			>
				<rcc-icon [name]="action.icon" size="small"></rcc-icon>
			</button>
		</ng-template>
	</ng-container>
</div>
