rcc-plain-data-share-modal {
	display: flex;
	flex-direction: column;
	height: 100%;
}

rcc-plain-data-share-modal * {
	text-align: center;
}

.complete-message, .failed-message {
	margin-top:		.5rem;

	button {
		margin:	0 auto;
	}
}

rcc-icon {
	color: var(--main);
}
