<rcc-plain-data-share-modal
	[data] 						= "qrData"
	[mode]						= "mode"
	[additionalInfoText]		= "additionalInfoText"
	colorCategory				= "share"
>

	<div
		*ngIf 		= "complete"
		class		= "complete-message"
		[id]		= "'SHARE_DATA.TRANSMISSION.SUCCESS' | toID: 'rcc-e2e'"
	>
		<p>
			{{'SHARE_DATA.TRANSMISSION.SUCCESS' | translate}}
		</p>

		<button pill-button
			colorCategory 	= "create"
			(click)			= "done()"
			[id]			= "'SHARE_DATA.DONE' | toID: 'rcc-e2e'"
		>
			{{'SHARE_DATA.DONE' | translate}}
		</button>

	</div>

	<div
		*ngIf			= "failed"
		class			= "failed-message"
		[id]			= "'SHARE_DATA.TRANSMISSION.FAILURE' | toID: 'rcc-e2e'"
		colorCategory 	= "share"
	>
		<p>
			{{'SHARE_DATA.TRANSMISSION.FAILURE' | translate}}
		</p>

		<button pill-button
			colorCategory 	= "share"
			(click)			= "retry()"
			[id]			= "'SHARE_DATA.RETRY' | toID: 'rcc-e2e'"
		>
			{{'SHARE_DATA.RETRY' | translate}}
		</button>

	</div>

</rcc-plain-data-share-modal>
