<rcc-final-slide colorCategory="analyze">
    <div>{{ 'DAY_QUERIES.QUERY_RUN.HELLO' | translate }}</div>
    <strong>{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_TODAY.HEADING' | translate }}</strong>
    <div>{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_TODAY.TEXT' | translate }}</div>

    <div class="button-group">
        <a pill-button routerLink="/my-charts" colorCategory="analyze">{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_TODAY.BUTTON_VIEW_DATA' | translate }}</a>
        <button
            *ngIf="hasPreviousDateWithQuestions"
            pill-button
            [outline]="true"
            colorCategory="create"
            (click)="viewAnswersClick.emit()"
        >{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_TODAY.BUTTON_VIEW_ANSWERS' | translate }}</button>
    </div>
</rcc-final-slide>
