<div
	(clickOutside)="blur()"
	class="combobox-container"
	[ngClass]="{ expanded }"
	(mouseenter)="enableHovering ? onMouseEnter() : null"
	(mouseleave)="enableHovering ? onMouseLeave() : null"
>
	<!-- Combobox = search input -->
	<div class="textbox-container">
		<input
			role="combobox"
			class="textbox"
			[readOnly]="!allowTextInput"
			[attr.aria-expanded]="expanded"
			[attr.aria-activedescendant]="activeDescendant"
			[attr.aria-controls]="listboxId"
			[attr.aria-disabled]="isDisabled"
			[attr.aria-label]="comboboxLabel ??(unselectedText | translate)"
			#combobox
			(focus)="isDisabled ? null : open()"
			(keydown)="isDisabled ? null : handleInputKeydown($event)"
			[placeholder]="unselectedText | translate"
			[formControl]="typeaheadControl"

			[ngClass]="{ expanded }"
		>
		<rcc-icon name="down" size="small" [ngClass]="{'expanded': expanded}" [attr.aria-expanded]="expanded" tabindex="-1"></rcc-icon>
	</div>

	<!-- Listbox = drop down menu -->
	<div  class="listbox-container" [ngClass]="{ above: showAbove }">
		<div
			role="listbox"
			[id]="listboxId"
			arrowNavigation
			#listbox
		>
			<div
				*ngFor="let option of option$ | async | mutateByTranslation : { sort: true, filterFn: adoptedFilterFn, filter: filter$ } | async; let index = index"
				[id]="optionId(index)"
				[ngClass]="{ 'highlighted': isHighlighted(index) }"
				role="option"
				(click)="selectOption($any(option))"
				[tabindex]="expanded ? 0 : -1"
				[attr.aria-selected]="isSelected($any(option))"
				(keydown)="handleOptionKeydown($event, $any(option))"
			>{{ option | translate }}</div>
		</div>
	</div>
</div>

<div class="background" [ngClass]="{ visible: expanded }"></div>
