[role="combobox"][aria-disabled="true"] {
	cursor: default;
	background-color: inherit;
	color: var(--supp-highlight);
	border-color: var(--supp-highlight);
}

.textbox-container {
	z-index: 2000;
}

.combobox-container {
	box-shadow: var(--rcc-box-shadow);
}

.combobox-container,
.textbox-container {
	position: relative;
	z-index: 2;
}

.combobox-container.expanded {
	z-index: 20;
}

.combobox-container:not(.expanded) {
	.listbox-container {
		height: 0;
	}
}

input[role="combobox"] {
	cursor: pointer;
	border: 1px solid var(--select-border, var(--main));
	font-family: var(--font-family-primary);
	font-size: 1rem;
	line-height: 200%;
	padding: 1rem;
	z-index: 2;
	padding: var(--select-vertical-padding, 1.25rem) 1.5rem;
	width: 100%;

	&::placeholder {
		color: black;
	}

	+rcc-icon {
		color: var(--main);
		width: 22px;
		position: absolute;
		right: 1rem;
		top: 50%;
		z-index: 21;
		pointer-events: none;
		transition: transform .2s;
		transform: translateY(-50%);
	}

	+rcc-icon.expanded {
		transition: transform .2s;
		transform: translateY(-50%) rotate(180deg);
	}

	&:hover+rcc-icon {
		color: var(--main-highlight);
	}

	&:hover::placeholder {
		font-weight: 700;
	}

	&:not(.expanded):focus-visible {
		outline: 2px solid var(--select-outline, var(--main));
	}

	&.expanded {
		outline: none;
	}
}

[role="combobox"]:read-only {
	outline: none;

	&::selection {
		background-color: transparent;
	}

}

.expanded .listbox-container {
	visibility: visible;
	pointer-events: all;

	transition: box-shadow .7s;
	box-shadow: var(--rcc-box-shadow);

	[role="listbox"] {
		transition: transform .2s;
		transform: translateY(0);
	}
}


.listbox-container {
	position: absolute;
	overflow: hidden;
	height: auto;
	width: 100%;
	user-select: none;
	pointer-events: none;

	[role="listbox"] {
		background-color: white;
		display: flex;
		flex-direction: column;
		position: relative;
		bottom: 0;
		width: 100%;
	}

	&.above {
		top: -1px;
		transform: translateY(-100%);

		[role="listbox"] {
			transform: translateY(100%);
		}
	}

	&:not(.above) {
		// Need to be able to see the bottom border of the textbox
		margin-top: 1px;

		[role="listbox"] {
			transition: transform .1s;
			transform: translateY(-100%);

		}
	}
}

[role="option"] {
	cursor: pointer;
	padding: var(--select-option-vertical-padding, 1.25rem) 1.5rem;
	border: solid 1px var(--supp);
	border-top: none;
	font-family: var(--font-family-primary);

	&.highlighted,
	&:focus,
	&:hover {
		background-color: var(--supp);
		font-weight: 700;
	}
}

.background.visible {
	position: fixed;
	inset: 0;
	background: #444343;
	opacity: 0.3;
	pointer-events: none;
	z-index: 19;
}
