:host {
	overflow: hidden;
}

.splash-screen {
	position: relative;
	z-index: 9;
	height: 100%;
	width: 100%;
}

.splash-screen-shown {
	display: none;
}

.reveal-homepage {
	animation: revealHomePage 500ms ease 1300ms forwards;
}

.logo {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 11;
}

.background-svg {
	position: absolute;
	top: 0%;
	z-index: 10;
	height: -100%;
	animation: backgroundSwipe 1200ms cubic-bezier(.99, .14, .62, .93) forwards;
}
@keyframes backgroundSwipe {

	/* up-enter: 0% - 50% */
	0% {
		clip-path: inset(100% 0 0 0);
	}

	50% {
		clip-path: inset(0);
	}

	/* up-leave: 50% - 100% */
	51% {
		clip-path: inset(0);
	}

	100% {
		clip-path: inset(0 0 100% 0);
	}
}

@keyframes revealHomePage {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
		height: 0%;
	}
}

.logo svg {
	position: absolute;
	z-index: 11;
	width: 25%;
	height: 25%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: auto;
}

.background svg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
