	$small-breakpoint: 57.5rem; // 920px
	$large-breakpoint: 90rem; // 1440px
	$one-px: 0.0625rem;

	@mixin mobile() {
		@media (max-width: $small-breakpoint) {
			@content
		}
	}

	@mixin desktop() {
		@media (min-width: $small-breakpoint + $one-px) {
			@content
		}
	}

	@mixin smallDesktop() {
		@media (min-width: $small-breakpoint + $one-px) and (max-width: $large-breakpoint - $one-px) {
			@content
		}
	}

	@mixin xLarge() {
		@media (min-width: $large-breakpoint) {
			@content
		}
	}
