<h1>{{ 'TRANSMISSION.SETTINGS.MODAL_HEADING' | translate }}</h1>
<h2>{{ 'TRANSMISSION.SETTINGS.INTRO_HEADING' | translate }}</h2>
<p>{{'TRANSMISSION.SETTINGS.INTRO_TEXT' | translate }}</p>

<ng-container *ngFor = "let service of rccTransmissionService.transmissionServices">

	<h2>{{service.label | translate}}</h2>
	<p>{{service.description | translate }}</p>

</ng-container>
