<div class="container">
	<rcc-icon name="information" size="small"></rcc-icon>
	<rcc-markdown [content]="content | translate"></rcc-markdown>

	<rcc-button colorCategory="secondary" (clickEvent)="confirm()">{{ 'RUNTIME_STARTUP_CONTRACT_MODAL.ACCEPT' | translate }}</rcc-button>
</div>
