
.start-date {
	background-color: 		var(--main);
	color: 					var(--rcc-off-white);
	font-weight: 			600;
	padding: 				0 1rem;
	height: 				2rem;
	line-height: 			2rem;

	+ span {
		margin: 			0 0.5rem;
	}
}

[headingContent] {
	margin-bottom:			1.5rem;
}

.date-control {
	display: 				flex;
	gap: 					0.5rem;
	align-items: 			center;
	margin-top: 			0.75rem;
	font-family: 			var(--font-family-primary);
	font-size: 				0.8rem;
	font-weight: 			400;
	justify-content: 		center;
}

rcc-date-picker {
	width: 					8.75rem;
}
