h2 {
	font-style: var(--font-family-primary);
	font-size: .8rem;
	margin-bottom: 1.5rem;
}

p, a {
	font-style: var(--font-family-secondary);
	font-size: .8rem;
}

p {
	margin: 0rem;
}

a {
	margin-top: .5rem;
	color: var(--main);
	text-decoration: none;
}
