	<button
		[ngClass]			= "{ editable }"
		(click)				= "editable && editClickEmitter.emit()"
		[attr.aria-label] 	= "label"
		[disabled]			= "!editable"
		>

		<div class = "label">
			<ng-content></ng-content>
		</div>

		<div
			class = "icon"
			*ngIf = "editIconRequired"
		>
			<rcc-icon name = "edit" size = "small"></rcc-icon>
		</div>

	</button>
