:host {
	--font-size: 		.9rem;
	font-family: 		var(--font-family-secondary);
	font-size:			var(--font-size);
	display: 			flex;
	flex-direction: 	column;
	position:			relative;
	justify-content:	center;
	box-sizing:			content-box;
	padding-top: 		0;
	max-width:			100%;
}

button {
	display:			flex;
	line-height:		calc(2 * calc(var(--font-size)));
	background-color:	transparent;
	padding:			0 1rem;
	align-items:		center;

}

button:disabled {
	color:				var(--foreground-text-disabled);
}

button > * {
	align-items:		center;
	display:			flex;
}

button > .label {
	flex:				1 0 0;
	text-align:			start;
}


button > .icon {
	flex:				0 0 auto;
}

button:hover rcc-icon {
	--icon-fill: 		var(--foreground-hover);
	--icon-stroke:		var(--foreground-text-hover);
}
