<ion-menu
	side		=	"start"
	[menuId]	=	"config.menuId"
	[contentId]	=	"config.contentId"
>

	<ion-header>
		<ion-toolbar>
			<ion-title [id] = "'MAIN_MENU.HEADER' | toID: 'rcc-e2e'">
				{{ 'MAIN_MENU.HEADER' | translate }}
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>

		<ion-list>
			<ion-menu-toggle>

				<ng-container
					*ngFor	= "let action of actions.concat(metaActions) | sortByPosition"
				>
					<ng-container
						*ngIf				= "isCustomAction(action)"
						[ngComponentOutlet] = "action.component"
						>
					</ng-container>

					<ion-item
						*ngIf 			= "isHandlerAction(action) || isPathAction(action)"
						[title]			= "hasDescription(action) ? (action.description | translate): ''"
						[routerLink]	= "isPathAction(action)		? action.path 		: null"
						[id]            = "action.label | toID:'rcc-e2e'"
						(click)			= "isHandlerAction(action)	? execute(action) 	: null"
						[button]		= "isHandlerAction(action)"
					>

						<ion-label>
							<h2>{{action.label | translate}}</h2>
						</ion-label>

						<ion-badge
							*ngIf	= 	"hasNotification(action) && (action.notification | async)"
							color	=	"secondary"
							slot 	=	"end"
						>
							{{ (action.notification | async) === true ? '!' : (action.notification | async) }}
						</ion-badge>

						<ion-icon
							slot	= "end"
							[name] 	= "action.icon | rccIcon"
						></ion-icon>
					</ion-item>

				</ng-container>

			</ion-menu-toggle>
		</ion-list>

	</ion-content>

</ion-menu>
