<rcc-card
	[colorCategory]="category(queryControl)"
	[heading]="getHeading(queryControl)"
	(headingClick)="queryControl.requestFocus()"
>
	<span preHeading>
		<ng-content></ng-content>
	</span>

	<rcc-widget
		colorCategory	= "create"
		[widgetControl]	= "queryControl"
	></rcc-widget>

	<span bottomRow class="bottom-row">

		<rcc-action-button
			class			= "reset-button"
			[ngClass]		= "{ 'hidden': !showResetButton }"
			[action]		= "reset"
			buttonSize		= "small"
		></rcc-action-button>

		<ng-content select="[bottomRow]"></ng-content>

	</span>
</rcc-card>
