<div
	class = "spin-wrapper"
	*ngIf = "initializing"
>
	<ion-spinner color="light"></ion-spinner>
</div>


<span class="message">
	<rcc-current-date-message
		[bold]="true"
	>{{'QR_CODE_SCANNER.SCAN_CONTEXT' | translate}}</rcc-current-date-message>

	<div
		*ngIf	= "cameraNotFound"
		[id]	= "'QR_CODE_SCANNER.MISSING_CAMERA' | toID:'rcc-e2e'"
	>
		{{ 'QR_CODE_SCANNER.MISSING_CAMERA' | translate }}
	</div>
</span>
<video #video></video>
<div #videoOverlay>
	<div class="black-overlay"></div>
	<ng-container *ngIf="ready">
		<span class="scan-message">{{ 'QR_CODE_SCANNER.SCAN_MESSAGE' | translate }}</span>
		<div class="qr-controls">
			<button
				class="device-select-button"
				*ngIf="hasMultipleDevices"
				(click)="changeDevice()"
				[attr.aria-label]="'QR_CODE_SCANNER.CHANGE_DEVICE' | translate"
			>
			<rcc-icon
				name="change_device"
				size="small"
				colorCategory="primary"
			></rcc-icon>
		</button>
		</div>
	</ng-container>
</div>

<ng-container>
	<rcc-button class="cancel-button" (clickEvent)="cancel()" colorCategory="primary">{{ 'CANCEL' | translate }}</rcc-button>
</ng-container>
