<ng-template>
	<div>{{ symptomCheck.meta.label || "SYMPTOM_CHECK_META_STORE.QUESTIONNAIRE" | translate }}</div>
	<div>{{ "SYMPTOM_CHECK_META_STORE.SUMMARY"		| translate: { questionCount } }}</div>
	<div
		*ngIf="symptomCheck.meta.creationDate as date"
	>{{ "SYMPTOM_CHECK_META_STORE.CREATED_ON"	| translate: { date: date | translate: dateFormat } }}</div>
</ng-template>
