:host {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	font-family: var(--font-family-secondary);
}

.modal-content {
	background: linear-gradient(180deg, var(--supp), var(--supp-end));
	padding: 0rem 1.3rem 2rem 1.3rem;
}

form {
	background-color: var(--rcc-off-white);
	border-radius: 0.5rem;
	padding: 1.25rem;
}

rcc-radio-select {
	margin: 6rem 0;
	display: block;
}

rcc-toggle ::ng-deep .checkbox-container {
	flex-direction: row-reverse;
	justify-content: flex-end;

	label {
		margin-left: 1rem;
	}
}

label {
	font-size: 0.8rem;
}

h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	line-height: 150%;
}

.modal-actions {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem 1rem 1rem;
}

rcc-button {
	display: flex;
}
