<rcc-full-page>

	<section mainContent [colorCategory]="'secondary'" class="centered-content">

		<rcc-scroll-to-top-button
			[colorCategory]	= "'secondary'"
		></rcc-scroll-to-top-button>

		<rcc-markdown [content]="translations | translate"></rcc-markdown>

	</section>

</rcc-full-page>
