::ng-deep .discreet-link {
	display: inline;
	color: var(--rcc-text-dark);
	text-decoration: underline var(--rcc-text-dark) .0313rem;
}

.single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
