<rcc-final-slide colorCategory="analyze">
    <div>{{ 'DAY_QUERIES.QUERY_RUN.HELLO' | translate }}</div>
    <strong>{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_STORED.HEADING' | translate }}</strong>
    <div>{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_STORED.TEXT' | translate }}</div>

    <div class="button-group">
        <button
            pill-button
            colorCategory="receive"
            (click)="receiveQuestions()"
        >{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_STORED.BUTTON_RECEIVE' | translate }}</button>
        <a routerLink="/support" pill-button [outline]="true" colorCategory="share">{{ 'DAY_QUERIES.QUERY_RUN.NO_QUESTIONS_STORED.BUTTON_HELP' | translate }}</a>
    </div>
</rcc-final-slide>
