<div class = "main">
	{{day}}
</div>

<div class = "sub">
	{{dayOfWeek}}
</div>


<div
	class = "ticks"
	*ngIf = "hasTicks"
>
	<span
		*ngFor 		= "let tick of startTicks"
		[ngClass] 	= "{full:tick}"
		class		= "tick"
	></span>

	<!-- <span *ngIf = "ellipsis" class = "ellipsis">&#8230;</span> -->
	<span *ngIf = "ellipsis" class = "ellipsis"></span>

	<span
		*ngFor 		= "let tick of endTicks"
		[ngClass] 	= "{full:tick}"
		class		= "tick"
	></span>
</div>

