:host {
	display: 			flex;
	position: 			relative;
	box-sizing: 		content-box;
	width: 				3em;
	max-width:  		3em;
	height: 			3em;
	max-height: 		3em;
	flex-direction: 	column;
	align-items: 		center;
	justify-content: 	space-evenly;
	border-radius: 		0.2em;
	background-color: 	var(--ion-color-tint);
	color: 				var(--ion-color-contrast);
	text-transform:		capitalize;
	font-variant: 		small-caps;
	overflow: 			visible;
}

:host(.weekend) {
	background-color: 	var(--ion-color-shade);
	color: 				var(--ion-color-contrast);
}

:host(.has-ticks){
	padding-left: 		0.6em;
}

.main {
	display: 			flex;
	font-size: 			1.5em;
	line-height: 		1em;
	text-transform:		uppercase;
	align-items: 		center;
	justify-content: 	center;
}

.sub {
	font-size: 			0.75em;
	margin-bottom: 		0.25em;
	line-height: 		1em;
	font-weight: 		bold;
}



.ticks {
	position: 			absolute;
	left: 				0;
	top: 				0;
	bottom: 			0;
	width: 				0.6em;
	display: 			flex;
	flex-direction: 	column-reverse;
	align-items: 		flex-end;
	justify-content: 	flex-start;
	padding: 			0.2em 0;
}

.ticks > *{
	margin: 			max( 1px, 0.05em) 0;
}

.tick {
	display: 			block;
	box-sizing: 		border-box;
	flex: 				0 0 auto;
	height: 			0.4em;
	width: 				0.4em;
	border-style: 		solid;
	border-width: 		1px;
	border-radius: 		100%;
	border-color:		var(--ion-color-contrast);
}

.tick.full {
	height: 			0;
	width: 				0;
	border-width: 		0.2em;
	/*border-style: 		none;*/
	/*background-color:	var(--ion-color-primary-contrast);*/
}

.ellipsis {
	position: 			relative;
	width: 				0.4em;
	display: 			flex;
	justify-content: 	center;
}

.ellipsis:before {
	content: 			'';
	display: 			block;
	width: 				80%;
	height: 			1px;
	margin: 			max( 1px, 0.1em) 0;
	background-color:	var(--ion-color-contrast);
}
