<rcc-full-page-modal-style-layout
	[headingMessage]	=	"'BACKUP.PASSWORD.HEADING' | translate"
	[buttonText]		=	"'CONFIRM' | translate"
	[hideButton]		=	"false"
	[buttonText]		=	"'CANCEL' | translate"
	colorCategory		=	"share"
>
	<form class="content" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
		<div class="modal-hint-text">{{'BACKUP.PASSWORD.USE_PASSWORD' | translate}}</div>
		<div class="card">
			<rcc-code-input
				class			=	"code-input"
				[length]		=	"6"
				formControlName	=	"password"
				[label]			=	"'BACKUP.PASSWORD.FORM' | translate"
			></rcc-code-input>

			<rcc-button [ngClass]="{'disabled': passwordForm.invalid, 'enabled': passwordForm.valid}" [disabled]="passwordForm.invalid" colorCategory="primary" type="submit" (clickEvent)="onSubmit()" buttonSize="medium">{{ 'TRANSMISSION_REQUESTS.TAN.CONFIRM' | translate }}</rcc-button>
		</div>
	</form>
</rcc-full-page-modal-style-layout>
