:host {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.card {
	background-color: var(--supp);
	box-shadow: var(--rcc-box-shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2.75rem;
	padding-top: 4rem;
	padding-bottom: 1.625rem;

	.code-input {
		display: block;
		margin-bottom: 2rem;
		width: 100%;
	}
}

.modal-hint-text {
	margin-bottom: 1rem;
	text-align: center;
}

.modal-hint-text,
.consent {
	font-family: var(--font-family-secondary);
	font-size: 0.8rem;
}

rcc-button ::ng-deep button[type="submit"] {

	cursor: pointer;

	background-color: var(--main);
	border-radius: 10rem;
	font-family: var(--font-family-primary);
	font-weight: 700;
	font-size: 1rem;
	padding: 0 1rem;
	height: 3.375rem;
	min-width: 15.5rem;
	max-width: 100%;
	color: var(--main-contrast);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: transform 300ms;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

rcc-button ::ng-deep button[type="submit"]:hover {
	background-color: var(--main-highlight);
	color: var(--main-highlight-contrast);
}

rcc-button.disabled ::ng-deep button {
	opacity: .5;
	cursor: not-allowed;

	background-color: var(--main);
	border-radius: 10rem;
	font-family: var(--font-family-primary);
	font-weight: 700;
	font-size: 1rem;
	padding: 0 1rem;
	height: 3.375rem;
	min-width: 15.5rem;
	max-width: 100%;
	color: var(--main-contrast);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: transform 300ms;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
