<rcc-reduced-full-page
	exitIcon					= 'close'
	[exitAction]  				= 'cancelAction'
	[heading]					= 'heading'
	[subHeading]				= 'subHeading'
	[mainContentDescription]	= 'message'

	[colorCategory]			=		"['primary'	, 'secondary']"
	[colorCategorySuffix]	=		"['start'	, 'end']"
>
	<div class="centered-content">
		<rcc-item-list>
			<rcc-list-item-tag
				*ngFor 					= "let item of filteredItems.slice(0, numberOfItems)"
				[item]					= "item"
				[id]					= "item.id"
				[skipGlobalActions]		= "true"
				[extraItemActions]		= "[getItemAction(item)]"
			></rcc-list-item-tag>
		</rcc-item-list>

		<div
			*ngIf		= "filteredItems.length === 0"
		>
			<h4>
				{{ 'ITEMS.SELECT.NO_ITEMS_FOUND' | translate }}
				<span *ngIf="trimmedSearchTerm">
					("{{trimmedSearchTerm}}")
				</span>
			</h4>
		</div>
	</div>

	<rcc-fab
		*ngIf 			=	"!singleSelect"
		class 			=	"rcc-e2e-checkmark-button"
		name			=	"check_mark"
		[label]			=	"'ITEMS.SELECT.APPLY'"
		colorCategory	=	"share"
		(click)			=	"apply()"
	></rcc-fab>

</rcc-reduced-full-page>
