// for all markdown pages

:host ::ng-deep h1 {
	font-family: var(--font-family-primary);
	font-size: .8rem;
	margin-bottom: 1.5rem;
}

:host ::ng-deep h2, ::ng-deep h3, ::ng-deep h4, ::ng-deep h5, ::ng-deep p, ::ng-deep a {
	font-family: var(--font-family-secondary);
	font-size: .8rem;
	margin-top: 0rem;
}

:host ::ng-deep h2, ::ng-deep h3 {
	margin-top: 2rem;
}

:host ::ng-deep h4, ::ng-deep h5  {
	margin-bottom: 0rem;
}

:host ::ng-deep a:not([pill-button]) {
	text-decoration: none;
	color: var(--main);
}

:host ::ng-deep a:last-child {
	margin-bottom: 3rem;
}

:host ::ng-deep .table-container {
	max-width: 	100%;
	overflow-x: auto;
}

:host ::ng-deep .contact-links {
	line-height: .5;

}

:host ::ng-deep .discreet-link {
	color: var(--rcc-text-dark);
	text-decoration: underline var(--rcc-text-dark) .0313rem;
}


:host ::ng-deep .imprint-contact-links {
	display: block;
}

:host ::ng-deep .email-link {
	color: var(--main);
}

:host ::ng-deep footer {
	padding: 1rem;
}

:host ::ng-deep table {
	table-layout: 		fixed;
	width:				100%;
	border-collapse: 	collapse;
}

:host ::ng-deep th, ::ng-deep td {
	padding: 8px;
	text-align: left;
	border: 1px solid black;
	font-weight:400;
}

:host ::ng-deep th {
	background-color: #FFF;
}

:host ::ng-deep th:nth-child(2) {
	vertical-align: top;
}

:host ::ng-deep .colored-link {
	color: var(--main);
}

:host ::ng-deep ul {
	font-family: var(--font-family-secondary);
	font-size: .8rem;
}

// for the support page

section {
	margin-bottom: 1.5rem;
}

h1 {
	font-family: var(--font-family-primary);
	font-size: .8rem;
	margin-bottom: 1.5rem;
}

h2, h3, h4, p, a {
	font-family: var(--font-family-secondary);
	font-size: .8rem;
	margin-top: 0rem;
}

a {
	display: inline;
	text-decoration: none;
	color: var(--rcc-text-dark);
}

:host rcc-action-button > ::ng-deep .card {
	margin: 1rem 0;
}
.contact-links {
	line-height: .5;

}

.discreet-link {
	color: var(--rcc-text-dark);
	text-decoration: underline var(--rcc-text-dark) .0313rem;
}

section {
	display: block
}
