<rcc-monitoring-setup-modal-layout-large
	[formGroup]="formGroup"
	[mainHeading]="'QUESTIONNAIRE_EDITOR.%s.HEADING' | fill:category | translate"
	[subHeading]="'QUESTIONNAIRE_EDITOR.EDIT_QUESTION_SUB_HEADING' | translate"
	[transformSubmissionData]="transformSubmissionData"
>
	<rcc-edit-text
		class="font-bold"
		formControlName="questionTitle"

		[inputLabel]="'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.LABEL' | translate"
		[editLabel]="'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.EDIT' | translate"
		[doneLabel]="'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.DONE' | translate"
		[multiLine]="true"
		[displayValue]="questionTitleDisplayValue"
		colorCategory="create"
	></rcc-edit-text>

	<rcc-pull-down-select
		medication
		formControlName="medication"
		onChangeMode="type"
		[options]="medications"
		[enableHovering]="true"
		[unselectedText]="'QUESTIONNAIRE_EDITOR.MEDICATION.EDIT.UNSELECTED' | translate"
	>
	</rcc-pull-down-select>

	<rcc-edit-text
		dosage
		formControlName="dosage"
		[inputLabel]="'QUESTIONNAIRE_EDITOR.MEDICATION.EDIT.DOSAGE' | translate"
		[placeholder]="'QUESTIONNAIRE_EDITOR.MEDICATION.EDIT.DOSAGE' | translate"
		[multiLine]="false"
	>
	</rcc-edit-text>

	<rcc-widget *ngIf="queryControl" [widgetControl]="queryControl"></rcc-widget>


	<div class="schedule-select">
		<button
			class="schedule-button"
			type="button"
			(click)="editSchedule()"
			[attr.aria-label]="'QUESTIONNAIRE_EDITOR.INDIVIDUAL_SCHEDULE' | translate"
		>
			<span *ngIf="!formGroup.get('schedule').value; else scheduleText">{{ 'QUESTIONNAIRE_EDITOR.INDIVIDUAL_SCHEDULE' | translate }}</span>
			<ng-template #scheduleText>
				<span>{{ formGroup.get('schedule').value | translate }}</span>
			</ng-template>
		</button>
		<rcc-toggle [formControl]="toggleScheduleControl" (change)="toggleEditSchedule()"></rcc-toggle>
	</div>
</rcc-monitoring-setup-modal-layout-large>
