<ng-container [formGroup]="formGroup">
	<ng-container formArrayName="values">
		<div class="option-item" *ngFor="let option of options; let index = index">
			<rcc-icon name="circle" size="small"></rcc-icon>
			<span *ngIf="showValueIndicator">
				{{ option.value === true ? 1 : option.value === false ? 0 : option.value }}:
			</span>
			<rcc-edit-text
				[formControlName]="index"
				[multiLine]="false"
				[placeholder]="'QUESTIONNAIRE_EDITOR.ANSWER_PLACEHOLDER' | translate"
				(startEdit)="onStartEdit()"
			></rcc-edit-text>
		</div>
	</ng-container>
</ng-container>
