rcc-card {
	min-width:			21rem;
	min-height:			58vh;
}

rcc-card ::ng-deep .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between !important;
}

.form-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	margin: 0rem 1rem 1rem 2rem;

	* {
		position: relative;
	}
	button {
		position: absolute;
		left: 2rem;
		bottom: 2.5rem;
		background-color: transparent;
		font-size: 1rem;
		color: var(--main);
		font-family: var(--font-family-primary);
		font-weight: 700;
	}

}
