<rcc-reduced-full-page
	[heading] 					=	"HEADING"
	[subHeading]				=	"SUBHEADING"
	[mainContentDescription]	=	"EXPLANATION"
	[colorCategory]				=	"['share'	, 'receive']"
	[colorCategorySuffix]		=	"['start'	, 'end']"
	[buttonPlacement]			=	"'end'"
	[exitAction]				=	"cancelAction"

>
	<div class="centered-content">
		<rcc-card
			class="contains-button"
			[heading]="QUESTION | translate"
		>
			<rcc-radio-select
				[groupLabel]="QUESTION | translate"
				[formControl]="switchCameraControl"
				[options]="options"
				colorCategory="primary"
				[size]="'large'"
			></rcc-radio-select>

			<div class="form-actions">

				<button
					(click)="cancel()"
					colorCategory="secondary"
				>{{ 'CANCEL' | translate }}</button>

				<rcc-fab
					(click) = "submit()"
					name = "check_mark"
					colorCategory = "primary"
					[disabled] = "this.switchCameraControl.value === null"
					label = "CONFIRM"
				></rcc-fab>
			</div>
		</rcc-card>
	</div>


</rcc-reduced-full-page>
