<div class="centered-content">
	<div class="header-bar">
		<div class="date-and-name">
			<rcc-current-date-message>
			</rcc-current-date-message>
			<p
				*ngIf="this.activeSession"
			>
				{{this.activeSession.symptomCheck.meta.label}}
			</p>
		</div>
		<rcc-action-button
			id="main-menu-dialog-close-button"
			[action]="closeAction"
			buttonSize="small"
			colorCategory="secondary"
		></rcc-action-button>
	</div>

	<div mainContent>
		<div class="item-tags">
			<rcc-standalone-item-tag
				*ngIf="activeReport"
				colorCategory="analyze"
				[item]="activeReport"
				[itemActionRoles]="['details']"
			></rcc-standalone-item-tag>

			<rcc-standalone-item-tag
				*ngIf="activeSession"
				colorCategory="receive"
				[item]="activeSession"
				[extraItemActions]="sessionActions"
				[skipGlobalActions]="true"
			></rcc-standalone-item-tag>

			<rcc-standalone-item-tag
				*ngIf="activeSymptomCheck"
				colorCategory="create"
				[item]="activeSymptomCheck"
				[extraItemActions]="symptomCheckActions"
				[skipGlobalActions]="true"
			></rcc-standalone-item-tag>
		</div>

		<section class="action-buttons" *ngIf="activeSession">

			<rcc-button
				class				= "cancel-button"
				(click)				= "exit()"
				colorCategory		= "secondary"
			>
				{{ 'CANCEL' | translate }}
			</rcc-button>

			<rcc-action-button
				[action] 			= "closeActiveSessionAction"
				buttonSize			= "medium"
			></rcc-action-button>

		</section>


	</div>
