:host {
	display: block;
	padding: var(--rcc-padding);
	height: 100%;
	overflow-y: auto;
}
p {
	font-family: var(--font-family-primary);
	font-weight: 600;
	font-size: .8rem;
	margin: 0rem;
}

.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;

	rcc-action-button {
		--icon-stroke: var(--main);
	}

	rcc-action-button:hover {
		--icon-stroke: var(--main-highlight);
	}

	rcc-action-button ::ng-deep button {
		background-color:       transparent;
	}

	rcc-action-button ::ng-deep rcc-icon {
		--icon-dimension: 1.5rem;
	}

	button {
		background-color: inherit;
		align-self: flex-start;
	}
}

.item-tags {
	display: grid;
	row-gap: 1.25rem;
	margin-bottom: 2rem;

	> ::ng-deep:empty {
		display: none;
	}
}

.cancel-button {
	align-self: center;
}
.action-buttons {
	display: flex;
	justify-content: space-around;
}

.full-page-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}
