<ion-content>

    <div>
        <ion-spinner></ion-spinner>
    </div>


    <ion-text>{{message | translate}}</ion-text>

    <div>
        <ion-button (click) = "cancel()" >
            {{'cancel' | translate}}
        </ion-button>
    </div>

</ion-content>
