textarea {
	resize: none;
	--line-height: 2rem;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cline x1='0' x2='32' y1='32' y2='32' stroke='black' /%3E%3C/svg%3E");
	background-size: var(--line-height);
	background-color: transparent;
	line-height: var(--line-height);
	border: none;
	outline-offset: 0.5rem;

	&:disabled {
		background-color: inherit;
	}

	&:focus-visible {
		outline: 2px solid var(--main);
	}
}

.greyed-out {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cline x1='0' x2='32' y1='32' y2='32' stroke='rgb(166, 165, 165)' /%3E%3C/svg%3E");
}

:where(textarea) {
	width: 100%;
	height: 14rem;
}
