:host > div {
	position:					relative;
	display:					flex;
	flex-direction:				column;
	align-items:				center;
}

/* Colored area around full-size buttons */
.card {
	padding:					3rem 1rem 0.5rem;
	background: 				var(--supp);
    box-shadow:					var(--rcc-box-shadow);
	color:						var(--background-text);
}

.icon {
	height:						3.5rem;
	width:						3.5rem;
	margin-bottom:				2rem;
}

.description {
	font-family:				var(--font-family-secondary);
	font-size:					0.8rem;
	font-weight:				350;
	line-height:				1rem;
	height:						2rem;
	overflow:					hidden;
	text-align:					center;
	text-overflow:				clip;
	margin:						.5rem;
}

.icon-button {
	height:						var(--icon-dimension, 2rem);
	width:						var(--icon-dimension, 2rem);
	border-radius:				50%;
	background-color:			var(--main);
	color:						var(--main-contrast);

	display:					flex;
	justify-content:			center;
	align-items:				center;
}

.icon-button.disabled,
.icon-button[disabled] {
	background-color:			var(--supp);
	color:						var(--supp-contrast);
	border:						solid 1px var(--main);
}

.outline {
	background-color:			var(--main-contrast);
	border:						solid 1px var(--main);
	color:						var(--main)
}

.outline:hover {
	background-color:			var(--main-contrast);
	border-color: 				var(--main-highlight);
	color:						var(--main-highlight);
}

.outline.disabled,
.outline[disabled] {
	background-color:			var(--main-contrast);
	border-color: 				var(--supp-highlight);
	color:						var(--supp-highlight);
}
