<div class="ion-padding">
    <h1
        class ="ion-text-center"
        [id] = "'APP_NAME' | toID:'rcc-e2e'"
    >
        {{ 'APP_NAME' | translate }} – {{ 'APP_NAME_ADD_ON' | translate }}
    </h1>
    <h2
        class ="ion-text-center"
        [id] = "'TESTING' | toID:'rcc-e2e'"
    >
        {{ 'TESTING' | translate }}
    </h2>
</div>
