<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" colorCategory="create">
	<div class="form-content">
		<ng-content></ng-content>
	</div>

	<div class="form-actions">
		<button type="button" (click)="cancelClick()">{{ 'CANCEL' | translate }}</button>
		<rcc-submit-button
			[disabled]			= "this.formGroup.invalid"
		></rcc-submit-button>
	</div>
</form>
