<rcc-current-date-message
	[bold]="true"
	headingContent
>{{ headingMessage }}</rcc-current-date-message>

<div class='main-content'>
	<ng-content></ng-content>
</div>

<rcc-button
	*ngIf = !hideButton
	class="action-button"
	(click)="close()"
>{{ buttonText ? (buttonText | translate) : ('CANCEL' | translate) }}</rcc-button>
