<form [formGroup]="supportForm" (ngSubmit)="submitForm()" [attr.aria-label]="'USER_SUPPORT.FORM' | translate">

		<label>
			{{'USER_SUPPORT.NAME' | translate}}
			<input colorCategory="secondary" type="text" id="name" formControlName="name"/>
		</label>

		<label>
			{{'USER_SUPPORT.EMAIL' | translate}}*
			<span
				*ngIf="supportForm.controls.email.invalid && supportForm.controls.email.touched"
				class="error-message"
				colorCategory="primary"
			>
				[{{'USER_SUPPORT.REQUIRED' | translate}}]
			</span>
			<input
				[colorCategory]="supportForm.controls.email.invalid && supportForm.controls.email.touched? 'primary' : 'secondary'"
				type="email"
				id="email"
				formControlName="email"/>
		</label>

		<label>
			{{'USER_SUPPORT.SUBJECT' | translate}}
			<input colorCategory="secondary" type="text" id="subject" formControlName="subject"/>
		</label>


		<label class="pull-down-label">
			{{'USER_SUPPORT.SELECT.TOPIC' | translate}}*
		</label>
			<rcc-pull-down-select
			area
			formControlName="topic"
			onChangeMode="type"
			[colorCategory]="supportForm.controls.topic.invalid && supportForm.controls.topic.touched? 'primary' : 'secondary'"
			[options]="topics"
			[allowTextInput]="false"
			[unselectedText]="'USER_SUPPORT.SELECT.UNSELECTED' | translate"
			[comboboxLabel]="'USER_SUPPORT.SELECT.TOPIC' | translate"
		></rcc-pull-down-select>
	<div
		*ngIf="supportForm.value.topic === 'bug'"
		class="bug-report"
	>
		<label class="pull-down-label">
				{{'USER_SUPPORT.SELECT.AREA' | translate}}*
		</label>
		<rcc-pull-down-select
			area
			formControlName="area"
			onChangeMode="type"
			[colorCategory]="supportForm.controls.area.invalid && supportForm.controls.area.touched? 'primary' : 'secondary'"
			[options]="areas"
			[allowTextInput]="false"
			[unselectedText]="'USER_SUPPORT.SELECT.UNSELECTED' | translate"
			[comboboxLabel]="'USER_SUPPORT.SELECT.AREA' | translate"
		></rcc-pull-down-select>
	</div>


	<div class="message-container">
		<label>
			{{'USER_SUPPORT.MESSAGE' | translate}}*
			<span
				*ngIf="supportForm.controls.message.invalid && supportForm.controls.message.touched"
				class="error-message"
				colorCategory="primary"
			>
				[{{'USER_SUPPORT.REQUIRED' | translate}}]
			</span>
			<div class="textarea-wrapper">
				<textarea
					[colorCategory]="supportForm.controls.message.invalid && supportForm.controls.message.touched? 'primary' : 'secondary'"
					formControlName="message"
				></textarea>
			</div>
		</label>
	</div>

	<div
		*ngIf="supportForm.value.topic === 'bug'"
	>
		<rcc-toggle
			[toggleOrCheckbox]="'checkbox'"
			[label]="'USER_SUPPORT.SEND_DEBUG_INFO' | translate"
			[formControlName]="'sendDebugInfo'"
		></rcc-toggle>

		<div
			*ngIf="supportForm.controls.sendDebugInfo.value === true"
			class="debug-info-details"
			colorCategory="secondary"

		>
			<rcc-button
				(click)="toggleDebugInfoDetails()"
				type="button"

			>{{'USER_SUPPORT.DEBUG_INFO.DETAILS' | translate}}</rcc-button>

<!-- Debug checkbox fields -->
			<div
				*ngIf="showDebugInfoDetails"
				[formGroup]="debugInfoFormControls"
			>
				<div
					*ngFor="let debugInfo of debugInfos; ; let last = last"
					class="debug-field"
				>
					<label>
						<span
							class="debug-info-label"
							colorCategory="secondary">{{debugInfo.label | translate}}
						</span>
						<rcc-toggle
							[toggleOrCheckbox]="'checkbox'"
							[formControlName]="debugInfo.id"
						></rcc-toggle>
					</label>
					<div class="debug-info-values">
						{{latestDebugInfoValues[debugInfo.id]}}
					</div>
					<div class="debug-info-text" colorCategory="primary" [ngClass]="{'debug-info-text-last-child': last}">
						{{debugInfo.description | translate}}
					</div>
				</div>
			</div>
		</div>

	</div>


	<button pill-button
		type="submit"
		colorCategory="secondary"
		[ngClass]="{'disabled': supportForm.invalid, 'enabled': supportForm.valid}"
	>{{'USER_SUPPORT.SEND' | translate}}</button>

</form>
