[role="radiogroup"] {
	display: flex;
	flex-direction: column;
	gap: var(--radio-gap, 1rem);
	font-family: var(--font-family-secondary);
}

[role="radio"] {
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;

	.fill-indicator {
		display: none;
	}

	&.selected {
		.fill-indicator {
			display: inline;
			fill: var(--main);
		}
	}

	.icon-wrapper {
		height: var(--radio-size, 1rem);
		width: var(--radio-size, 1rem);
		flex-shrink: 0;
		margin-top: .1875rem;
		display: flex;
		align-items: center;

		.hidden {
			width: 0;
			visibility: hidden;
			white-space: nowrap;
		}

		svg {
			height: var(--radio-size, 1rem);
			stroke-width: var(--radio-stroke-width, 1);
		}
	}

	&.large {
		.icon-wrapper {
			height: 2rem;
			width: 2rem;

			svg {
				height: 2rem;
				stroke-width: .5;
			}
		}
	}

	&.disabled {
		pointer-events: none;
	}

	&.greyed-out {
		color: var(--supp);

		.icon-wrapper svg {
			stroke: var(--supp);
			fill: var(--supp);
		}
	}
}
