<div
	class 			= "banner"
	*ngIf			= "bannerMarkdown"
	[colorCategory] = "bannerColor || 'tertiary'"
>
	<rcc-markdown
		[content] 	= "bannerMarkdown"
		[inline]	= "true"
	></rcc-markdown>
</div>

<div class="container">

	<header class="centered-content">
		<div class="header-bar">
			<a [routerLink]="'/'" [attr.aria-label]="'THEME.HOME_BUTTON' | translate">
				<rcc-logo size="full" class="logo-full"></rcc-logo>
				<rcc-logo size="small" class="logo-small"></rcc-logo>
			</a>
			<rcc-client-logo></rcc-client-logo>
			<button
				class="main-menu"
				(click)="onMenuClick()"
				[attr.aria-label]	= "'MAIN_MENU_BUTTON' | translate"
				colorCategory		= "secondary"
			>
				<rcc-icon name="hamburger" size="medium"></rcc-icon>
			</button>
		</div>

		<div
			*ngIf				=	"pageTitle"
			class				=	"page-title"
		>{{ pageTitle }}</div>

		<ng-content select="[headingContent]"></ng-content>
	</header>
	<main class="full-page-content">
		<ng-content select="[mainContent]"></ng-content>
	</main>
	<footer class="footer">
		<ng-content select="[footerContent]"></ng-content>
	</footer>
</div>
