@import 'bengal/mixins/breakpoints';

rcc-full-page {
	display: block;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;


	.banner {
		display: block;

		background-color:	var(--main);
		color:				var(--main-contrast);

		> * {
			display:		block;
			max-width: 		var(--rcc-content-width);
			margin-left: 	auto;
			margin-right:	auto;
			padding:		0.5rem;
			text-align:		center;
		}


		rcc-markdown {

			font-size:		0.8rem;

			font-family:	var(--font-family-secondary);
			font-weight:	400;

			strong {
				font-weight:		600;
			}

			a {
				color:				inherit;
				text-decoration:	underline;
			}


		}

	}

	.header-bar {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: start;
		height: 4.5rem;
		padding: 1.5rem 0rem;

		> a {
			height: 2rem;
		}

		rcc-client-logo {
			color: red;
		}

		rcc-client-logo img {
			margin-top: -1.49rem;
		}

		@include desktop {
			display: flex;
			justify-content: space-between;
			gap: 2rem;

			> *:nth-child(2):not(:last-child) {
				flex-basis: 100%;
				display: flex;
				justify-content: flex-end;
			}

			:first-child {
				flex-shrink: 0;
			}

			rcc-client-logo img {
				margin-top: -1.5rem;
			}
		}

		@include mobile {
			:first-child {
				justify-self: flex-start;
			}

			:last-child {
				justify-self: flex-end;
			}
		}

		button.main-menu:focus-visible {
			background-color: inherit;
			outline: .125rem solid var(--main);
			outline-offset: .125rem;
			border-radius: .125rem;
		}
		button.main-menu {
			background-color: inherit;
			line-height: 0rem;

			rcc-icon {
				--icon-fill: var(--main);

				&:hover {
					--icon-fill: var(--main-highlight);
				}

				svg {
					height: 1.5rem;
				}
			}
		}
	}

	.page-title {
		font-weight: 700;
		line-height: 1.5rem;
		margin-bottom: .5rem;
	}

	> .container {
		height: 100%;
		padding-top: 0;
		padding-bottom: var(--rcc-padding);
		display: grid;
		grid-template-rows: max-content 1fr max-content;
		grid-template-columns: 100%;
	}

	footer:not(:empty) {
		padding-top:			2rem;
		padding-bottom: 		2.875rem;
		padding-left:			var(--rcc-padding);
		padding-right:			var(--rcc-padding);
		display:				flex;
		flex-direction:			column;
		gap:					2rem;
	}

	footer:empty {
		display: none;
	}

	.full-page-content {
		display: flex;
		flex-direction: column;
	}

	.logo-full {
		@include mobile {
			display: none;
		}
	}

	.logo-small {
		@include desktop {
			display: none;
		}
	}
}
