<div class="background-container">
    <div class="background" *ngIf="!disabled"></div>
    <div
        class="time-input"
        role="group"
        [attr.aria-label]="ariaLabel"
        [ngClass]="{ disabled }"
    >
        <div
            class="scroll-container"
            #hourContainer
            [tabindex]="disabled ? '-1' : '0'"
            role="spinbutton"
            (keydown)="handleKeydown($event, 'hours')"
            aria-valuemin="0"
            aria-valuemax="23"
            [attr.aria-valuenow]="hours"
            [attr.aria-label]="'THEME.HOURS' | translate"
            [attr.aria-disabled]="disabled"
        >
            <div
                [id]="hourId(index)"
                *ngFor="let hour of hoursOptions; let index = index"
                (click)="onClick(index, 'hours')"
                aria-hidden="true"
            >{{hour | number:'2.0' }}</div>
            <div class="scroll-padding"></div>
        </div>

        <div
            class="scroll-container"
            #minuteContainer
            [tabindex]="disabled ? '-1' : '0'"
            (keydown)="handleKeydown($event, 'minutes')"
            role="spinbutton"
            aria-valuemin="0"
            aria-valuemax="59"
            [attr.aria-valuenow]="minutes"
            [attr.aria-label]="'THEME.MINUTES' | translate"
            [attr.aria-disabled]="disabled"
        >
            <div
                [id]="minuteId(index)"
                *ngFor="let minute of minutesOptions; let index = index"
                (click)="onClick(index, 'minutes')"
                aria-hidden="true"
            >{{minute | number:'2.0' }}</div>
            <div class="scroll-padding"></div>
        </div>
    </div>
</div>
