<div class="toggle-button-cover">
	<div class="button-cover">
		<div class="toggle-button">
			<input
				type="checkbox"
				class="checkbox"
				(change)="onToggleChange()"
				attr.aria-label = "{{('TOGGLE' | translate)}}: {{usage}}"
				attr.aria-checked     = "{{checked}}"
			/>
				<div class="knobs"></div>
				<div class="layer"></div>
		</div>
	</div>
</div>
