<div class="filter-inputs" [formGroup]="formGroup">
    <div class="search-input-container">
        <input
            type="search"
            (input)="updateSearchFilter($event)"
            [placeholder]="'QUESTIONNAIRE_EDITOR.SEARCH_PLACEHOLDER' | translate"
            [attr.aria-label]="'QUESTIONNAIRE_EDITOR.SEARCH_PLACEHOLDER' | translate"
        >

        <rcc-icon name="search" size="small"></rcc-icon>
    </div>

    <rcc-pull-down-select
        formControlName="category"
        [ariaLabel]="'QUESTIONNAIRE_EDITOR.FILTER' | translate"
        [unselectedText]="'QUESTIONNAIRE_EDITOR.NO_FILTER' | translate"
        [options]="(filterCategoriesWithCount$ | async)"
    ></rcc-pull-down-select>

</div>
<ul>
    <li *ngFor="let question of filteredQuestions$ | async">
        <input
            [id]="id(question.id)"
            type="checkbox"
            [ngClass]="{ checked: selectedQuestions.has(question.id) }"
            [value]="selectedQuestions.has(question.id)"
            [attr.aria-checked]="selectedQuestions.has(question.id)"
            [disabled]="disabledQuestions.has(question.id)"
            (click)="clickQuestion(question.id)"
        >
        <label
            [for]="id(question.id)"
            class="question"
        >
            <div class="question-text">
                <div>
                    {{ questionText(question) }}
                </div>
                <div>
                    <span *ngIf="question.options">
                        {{ optionsText(question) }}
                    </span>
                </div>
            </div>
            <div class="checkbox">
                <rcc-icon name="check_mark" size="small"></rcc-icon>
            </div>
        </label>
    </li>
</ul>
