<button
	class="toggle-button"
	*ngIf="!open && hasValueToShow; else openList"
	(click)="openComputedValuesList()"
	colorCategory="misc"
	colorCategorySuffix="background"
>
	{{ 'COMPUTED_VALUES_LIST.SHOW_TRENDS' | translate }}
	<rcc-icon name="add" size="small"></rcc-icon>
</button>

<ng-template #openList>
	<div
		*ngIf="hasValueToShow"
		class="list-item-container"
	>
		<div
			class			= "container"
			[colorCategory] = "getColorCategory(valueToShow)"
		>

			<button class="close-button" [attr.aria-label]="'CLOSE' | translate" (click)="closeComputedValuesList()">
				<rcc-icon name="close"></rcc-icon>
			</button>

			<div class = "details">
				<button class="info-button" [attr.aria-label]="'INFORMATION' | translate" (click)="showInfoModal()">
					<rcc-icon name = "information" size = "small"></rcc-icon>
				</button>
				{{valueToShow.description | translate }}
			</div>

			<div class = "value">
				<ng-container
					*ngIf	= "getRawValue(valueToShow) !== null"
					[ngComponentOutlet] 		= "valueToShow"
					[ngComponentOutletInputs]	= "{value: getRawValue(valueToShow)}"
				></ng-container>
				<rcc-icon
					*ngIf	= "getRawValue(valueToShow) === null"
					name 	= "N/A"
				></rcc-icon>
			</div>
		</div>
	</div>
</ng-template>
