<rcc-slider #slider snap-stop>

	<rcc-slide
		*ngFor  = "let slideOrQuery of slidesOrQueries"
	>

		<!-- If the config is a QueryControl, show a query view -->
		<rcc-query-view
			*ngIf			= "isQueryControl(slideOrQuery)"

			[queryControl] 	= "slideOrQuery"
			[autosave]		= "autosave"
		>
			<span class		= "heading-number">
				{{ getHeadingText(slideOrQuery) }}
			</span>
			<span *ngIf="slideOrQuery.category" class="heading-category">
				{{ 'QUERIES.%s.heading' | fill: slideOrQuery.category | translate }}
			</span>

			<span bottomRow>

				<div class="slider-buttons">
					<rcc-action-button
						[ngClass]		= "{ 'hidden': slider.atFirstPage || slider.atLastPage, 'hide-when-large-screen': !firstCardOnScreen(slideOrQuery) }"
						class			= "previous-button"
						[action]		= "previous"
						buttonSize		= "small"
						colorCategory	= "create">

					</rcc-action-button>

					<rcc-action-button
						[ngClass]		= "{ 'hidden': slider.atLastPage, 'hide-when-large-screen': !firstCardOnScreen(slideOrQuery)  }"
						class			= "next-button"
						[action]		= "next"
						buttonSize		= "small"
						colorCategory	= "create">
					</rcc-action-button>
				</div>

			</span>
		</rcc-query-view>

		<!-- If the config is an InfoSlideConfig, show a card with its text -->
		<rcc-card
			*ngIf			= "isInfoSlideConfig(slideOrQuery)"

			class			= "info-slide-card"
			[heading]		= "(slideOrQuery.title ? slideOrQuery.title : null) | translate"
			colorCategory	= "create"
		>
			<div class="info-slide-content" innerHtml="{{ slideOrQuery.message | translate | addEmptyLineAfterSentence }}"></div>
		</rcc-card>

	</rcc-slide>

	<ng-content>
	</ng-content>

</rcc-slider>
