.hidden {
	visibility: hidden;
}

.hide-when-large-screen {
	visibility:			visible;
}

ion-content::part(scroll) {
	display:			flex;
	flex-direction:		column;
}

rcc-slider {
	flex:				1 0 0;
	width:				100%;
	height:				100%;

	gap:				.75rem;
	scroll-padding:		1.25rem;
}

rcc-slider ::ng-deep rcc-slide {
	max-width: 22rem;
	width: calc(100vw - 4rem);
	scroll-snap-align: start;
	flex-basis: auto;
	overflow-y: auto;
}

rcc-slider ::ng-deep rcc-slide:last-child {
	width: calc(100vw - 2rem);
}

.info-slide-card {
	background:			linear-gradient(164.41deg, var(--supp-highlight) -10.67%, #FDFDFD 47.71%);

	div.info-slide-content {
		white-space: pre-line;
	}
}

rcc-query-widget,
.done {
	height:				100%;
}

.done {
	display:			flex;
	flex-direction:		column;
	justify-content:	space-between;
}

.spacer {
	flex:				0 1 10rem;
}

.slider-buttons {
	flex-direction:			row;
	display:				flex;
	justify-content:		end;
	align-items:			center;
	gap: 					1rem;
}

/* TODO: #859 - use breakpoint mixin */
@media (min-width: 630px) {
	.hide-when-large-screen {
		visibility:			hidden;
	}
}

.heading-number {
	font-weight:			700;
}
.heading-category {
	font-weight:			400;
}
