input {
	background-color: transparent;
	border: none;
	width: 100%;
	color: var(--main);
	font-size: 2rem;
	line-height: 2rem;
	height: 3rem;

	&::placeholder {
		font-family: var(--font-family-primary);
		color: var(--rcc-text-light);

	}

	@mixin show-border {
		border-bottom: solid 1px var(--rcc-text-dark);
		font-size: 1rem;
		text-overflow: ellipsis;
	}

	&.card-view::placeholder {
		font-size: .8rem;
	}

	&:focus-visible {
		@include show-border;
	}

	&:placeholder-shown {
		@include show-border;
	}

	&.greyed-out {
		color: var(--supp);

		&::placeholder {
			color: var(--supp);
		}

		border-bottom: solid 1px var(--supp);
		font-size: 1rem;

	}
}
