:host {
	position: absolute;
	z-index: 1000;

	button {
		background: var(--main);
		height: 3.375rem;
		width: 3.375rem;
		border-radius: 50%;
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

		&:hover {
			background: var(--main-highlight);
		}

		rcc-icon {
			--icon-stroke: var(--supp);
			stroke-width: 2;

			svg {
				top: 2px;
				left: 2px;
			}
		}
	}
}

:host button rcc-icon svg {
	top: -7px;
	left: -7px;
}
