<rcc-monitoring-setup-modal-layout-large
	*ngIf="!isMedicationQuestion"
	[mainHeading]="'QUESTIONNAIRE_EDITOR.%s.QUESTION_LIST' | fill:category | translate"
	[subHeading]="'QUESTIONNAIRE_EDITOR.ADD_QUESTION_SUB_HEADING' | translate"
	[formGroup]="formGroup"
>
	<div beforeForm>
		<rcc-action-button buttonSize="medium" [action]="customQuestionAction"></rcc-action-button>
	</div>
	<rcc-question-list-control
		[questions]="questions"
		[disabledIds]="disabledIds"
		formControlName="selectedQuestions"
		[catalogRestrictionsByCategory]="catalogRestrictionsByCategory"
		[category]="category"
	></rcc-question-list-control>
</rcc-monitoring-setup-modal-layout-large>
