<ion-header>

	<ion-toolbar>

		<ion-title [id]	= "'QUESTION_EDIT.HEADER_EDIT' | toID:'rcc-e2e'">
			{{ (heading || 'QUESTIONS.EDIT.HEADER_EDIT') | translate }}
		</ion-title>

		<ion-buttons slot="secondary">

			<ion-button
				color	= "light"
				fill	= "solid"
				(click) = "cancel()"
				class = "rcc-e2e-question-edit-cancel"

			>
				{{cancelLabel | translate }}
			</ion-button>

		</ion-buttons>

		<ion-buttons slot="primary">

			<ion-button
				color		= "primary"
				fill		= "solid"
				(click) 	= "apply()"
				class     = "rcc-e2e-question-edit-apply"

				[disabled]	= "error || questionConfigError"
			>
				{{applyLabel | translate }}
			</ion-button>

		</ion-buttons>

	</ion-toolbar>

</ion-header>



<ion-content [fullscreen] = "true">



	<ion-item>
		<ion-label
			position	= "stacked"
			[id]		= "'QUESTIONS.EDIT.QUESTION_TYPE_SELECTION' | toID:'rcc-e2e'"
		>
			{{ "QUESTIONS.EDIT.QUESTION_TYPE_SELECTION" | translate }}
		</ion-label>
		<ion-select
			[formControl] 	= "questionTypeControl"
			class           = "rcc-e2e-popover-select"
			interface		= "popover"
		>
			<ion-select-option
				*ngFor	= "let questionEditWidget of questionEditWidgets"
				[value]	= "questionEditWidget"
				[class]	= "questionEditWidget.label | toID:'rcc-e2e'"
			>
				{{ questionEditWidget.label | translate }}
			</ion-select-option>
		</ion-select>
	</ion-item>



	<ion-item
		*ngIf 		= "error || questionConfigError; else blank"
		color		= "danger"
		lines 		= "none"
		[button]	= "questionConfigError"
		id			= "question-config-error-trigger"

	>
		<ion-label [id]		= "'QUESTIONS.EDIT.SOMETHING_WENT_WRONG' | toID:'rcc-e2e'">
			{{ (error ? error : 'QUESTIONS.EDIT.SOMETHING_WENT_WRONG') | translate}}
		</ion-label>
		<ion-popover
			*ngIf			= "!error"
			trigger			= "question-config-error-trigger"
			triggerAction	= "click"
		>
			<ng-template>
				<ion-content class="ion-padding">{{questionConfigError}}</ion-content>
			</ng-template>
		</ion-popover>

	</ion-item>



	<ng-template #blank>
		<ion-item lines = "none"></ion-item>
	</ng-template>



		<rcc-widget
		[widgetControl] 	= "questionEditControl"
		[widgetComponent]	= "questionTypeControl.value"
	></rcc-widget>



	<ion-item lines = "none"></ion-item>

	<ion-item lines = "none">
		<h2 [id]	= "'QUESTIONS.EDIT.PREVIEW' | toID:'rcc-e2e'">
			{{ "QUESTIONS.EDIT.PREVIEW" | translate }}
			<ion-text
				*ngIf 	= "!queryControl || error"
				color	= "danger"
			>
				({{"QUESTIONS.EDIT.PREVIEW_NOT_AVAILABLE" | translate}})
			</ion-text>
		</h2>
	</ion-item>

	<rcc-query-view
		*ngIf 			= "queryControl && !error"
		[queryControl] 	= "queryControl"
	></rcc-query-view>




</ion-content>
