<rcc-full-page-modal-style-layout
	class			=	"heading-message"
	colorCategory	=	"secondary"
	[headingMessage]=	"'BACKUP.PASSWORD.HEADING' | translate"
	[buttonText]	=	"'CONFIRM' | translate"

>

	<div>
		<div class="modal-hint-text">{{'BACKUP.PASSWORD.DELIVER_PASSWORD' | translate}}</div>
		<div class="card">
			<h2 class="screen-reader-only">{{ 'BACKUP.PASSWORD.LABEL' | translate }}</h2>
			<p>{{password}}</p>
		</div>
	</div>

</rcc-full-page-modal-style-layout>
