:host {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.heading-message {
	font-family: var(--font-family-primary);
	font-size: .8rem;
	margin-top: .5rem;
}

p {
	font-size: 3rem;
	background-color: var(--main-contrast);
	display: inline-block;
	padding: 5px;
	padding-left: 1rem;
	border: 1px solid var(--supp-highlight);
	letter-spacing: 1rem;
	text-align: center;
}

.card {
	background-color: var(--supp);
	box-shadow: var(--rcc-box-shadow);
	height: 15.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2.75rem;
	padding-top: 1.625rem;
	padding-bottom: 4rem;
}

.modal-hint-text {
	margin-bottom: 1rem;
	text-align: center;
	font-family: var(--font-family-secondary);
	font-size: 0.8rem;
}
