.heading {
	display:			flex;
	justify-content: 	space-between;
	flex:				0 0 auto;
	align-items:		center;
	--font-size:		.9rem;
	font-size: 			var(--font-size);
	font-weight: 		400;
	font-family: 		var(--font-family-primary);
	color: 				#000;
}

.heading label {
	margin-top: 		-.25rem;
}
