:host {
	cursor: pointer;
	background-color: var(--main);
	border-radius: 10rem;
	font-family: var(--font-family-primary);
	font-weight: 700;
	font-size: 1rem;
	padding: 0 1rem;
	height: 3.375rem;
	min-width: 15.5rem;
	max-width: 100%;
	color: var(--main-contrast);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: transform .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;

	&:hover {
		background-color:			var(--main-highlight);
		color:						var(--main-highlight-contrast);
	}

	&[disabled] {
		opacity:					.5;
		cursor:						not-allowed;

		background-color:			var(--main);
		border-radius:				10rem;
		font-family:				var(--font-family-primary);
		font-weight: 				700;
		font-size:					1rem;
		padding: 					0 1rem;
		height:						3.375rem;
		min-width:					15.5rem;
		max-width:					100%;
		color:						var(--main-contrast);
		overflow:					hidden;
		text-overflow: 				ellipsis;
		white-space: 				nowrap;
		transition: 				transform 300ms;
		display:					flex;
		justify-content:			center;
		align-items:				center;
		text-decoration:			none;
	}

	&:active:not(:disabled) {
		transform: 					scale(.93);
	}

	&.outline {
		background-color:			transparent;
		border:						solid 1px var(--main);
		color:						var(--main)
	}
}
