<ng-template>
	<div>{{ 'REPORTS.BASIC_LABEL.PATIENT_DATA' | translate }}</div>
	<div>{{ 'REPORTS.BASIC_LABEL.TRANSFERRED' | translate:{ date: report.date | translate:dateFormat } }}</div>
	<div>{{ 'REPORTS.BASIC_LABEL.QUESTIONS' | translate:{ count: numberOfQuestions } }}</div>
</ng-template>

