
<rcc-icon name="information" size="small"></rcc-icon>

<h1>
	{{'INCLUSION_CRITERIA.INCLUSION_AND_ACCEPTANCE_CRITERIA_TITLE' | translate}}
</h1>

<p>
	{{'INCLUSION_CRITERIA.RECOMMENDATION' | translate}}
</p>

<p>
	{{'INCLUSION_CRITERIA.AGE_RANGE' | translate}}
</p>
<ul>
	<li>
		{{'INCLUSION_CRITERIA.OFFICIAL_DIAGNOSES.SUBSTANCE_USE_DISORDERS' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.OFFICIAL_DIAGNOSES.PSYCHOSIS_AND_SCHIZOPHRENIA' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.OFFICIAL_DIAGNOSES.AFFECTIVE_DISORDERS' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.OFFICIAL_DIAGNOSES.ANXIETY_AND_OTHER_PSYCHOLOGICAL_DISORDERS' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.OFFICIAL_DIAGNOSES.PERSONALITY_AND_BEHAVIOR_DISORDERS' | translate}}
	</li>
</ul>

<p>
	{{'INCLUSION_CRITERIA.CONDITIONS_NOT_MET' | translate}}
</p>
<ul>
	<li>
		{{'INCLUSION_CRITERIA.CONDITIONS.ACUTE_SUICIDALITY' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.CONDITIONS.DEMENTIA_AND_ALZHEIMERS' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.CONDITIONS.EPILEPSY' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.CONDITIONS.ORGANIC_BRAIN_DISEASE' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.CONDITIONS.REDUCED_INTELLIGENCE' | translate}}
	</li>
</ul>

<p>
	{{'INCLUSION_CRITERIA.CONDITIONS.PHYSICAL_CONDITIONS_LIMITING_PARTICIPATION' | translate}}
</p>
<ul>
	<li>
		{{'INCLUSION_CRITERIA.CAUTION_GROUPS.NURSING_OR_PREGNANT' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.CAUTION_GROUPS.OLDER_PATIENTS' | translate}}
	</li>
	<li>
		{{'INCLUSION_CRITERIA.CAUTION_GROUPS.YOUNG_ADULTS' | translate}}
	</li>
</ul>

<p class="strong">
	⚠ {{'INCLUSION_CRITERIA.NOT_A_SUBSTITUTE' | translate}}
</p>

<button colorCategory="secondary" (click)="acceptInclusionCriteria()">{{'INCLUSION_CRITERIA.BUTTON' | translate}}</button>
