<header>
	<rcc-icon name="information" size="small"></rcc-icon>
	<button (click)="closeModal()">
		<rcc-icon name="close" size="tiny"></rcc-icon>
	</button>
</header>
<em>
	{{ 'COMPUTED_VALUES_EXPLANATION.HEADER_TEXT' | translate }}
</em>
<h2>
	{{ 'COMPUTED_VALUES_EXPLANATION.UNDERSTAND_YOUR_TRENDS.HEADER' | translate }}
</h2>
<p>
	{{ 'COMPUTED_VALUES_EXPLANATION.UNDERSTAND_YOUR_TRENDS.PARAGRAPH.1' | translate }}
</p>
<p>
	{{ 'COMPUTED_VALUES_EXPLANATION.UNDERSTAND_YOUR_TRENDS.PARAGRAPH.2' | translate }}
</p>
<p>
	{{ 'COMPUTED_VALUES_EXPLANATION.UNDERSTAND_YOUR_TRENDS.PARAGRAPH.3' | translate }}
</p>

<h2>
	{{ 'COMPUTED_VALUES_EXPLANATION.WEEKLY_TRENDS.HEADER' | translate }}
</h2>
<p>
	{{ 'COMPUTED_VALUES_EXPLANATION.WEEKLY_TRENDS.PARAGRAPH.1' | translate }}
</p>

<h2>
	{{ 'COMPUTED_VALUES_EXPLANATION.MONTHLY_TRENDS.HEADER' | translate }}
</h2>
<p>
	{{ 'COMPUTED_VALUES_EXPLANATION.MONTHLY_TRENDS.PARAGRAPH.1' | translate }}
</p>

<h2>
	{{ 'COMPUTED_VALUES_EXPLANATION.YEARLY_TRENDS.HEADER' | translate }}
</h2>
<p>
	{{ 'COMPUTED_VALUES_EXPLANATION.YEARLY_TRENDS.PARAGRAPH.1' | translate }}
</p>

<footer>
	<rcc-button (clickEvent)="closeModal()" colorCategory="quaternary">
		{{ 'OKAY' | translate }}
	</rcc-button>
</footer>
