:host {
	font-family: var(--font-family-secondary);
	padding: 1.25rem;
	padding-top: 0;

	font-size: 0.8rem;
	color: var(--rcc-text-light);
	line-height: 1.2rem;
}

header {
	display: flex;
	justify-content: space-between;
	color: black;
	align-items: center;

	button {
		height: 3rem;
		width: 3rem;
		margin-right: -1.25rem;
		justify-content: center;
		background-color: transparent;
	}
}

h2 {
	font-size: 0.8rem;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 1.2rem;
	line-height: 1.2rem;
}

p {
	margin: 0;
}

footer {
	margin-top: 1.2rem;
}
