<rcc-full-page [colorCategory]="'secondary'" class="centered-content">

	<section mainContent class="centered-content">


		<h1>
			{{'LEGAL.SUPPORT.TITLE' | translate}}
		</h1>

		<h2>
			{{'LEGAL.SUPPORT.SUPPORT' | translate}}
		</h2>

		<p class="contact-links">
			<a class="email-link" [href]="'mailto:' + ('SUPPORT.EMAIL' | translate)">{{'LEGAL.SUPPORT.EMAIL' | translate }}</a>
		</p>
		<p class="contact-links discreet-link">
			<a href="tel:{{'LEGAL.SUPPORT.TELEPHONE' | translate}}">{{'LEGAL.SUPPORT.TELEPHONE' | translate}}</a>
		</p>
		<p style="margin-top: 1.5rem;">
			{{'LEGAL.SUPPORT.DISCLAIMER' | translate}}
		</p>

		<rcc-action-button
			[action]="gotoSupportFormAction"
			buttonSize="full"
		></rcc-action-button>

		<rcc-user-manual-section><ng-content></ng-content></rcc-user-manual-section>

	</section>

</rcc-full-page>
