:host {
	display:				flex;
	align-items:			center;
	justify-content:		center;
	height:					100%;
	font-size:				0.8em;
}

:host > * {
	position:				relative;
	display:				flex;
	flex:					1 0 auto;	
}

.visible {
	font-size:				1em;	
}

.invisible {
	font-size: 				0;	
}

.bullet {
	display:				flex;
	flex:					0 0 2em;
	height:					2em;
	justify-content:		center;	
	align-items:			center;
	background-color:		transparent;	
	cursor:					pointer;
	transition-property:	font-size, transform;
	transition-duration:	300ms, 100ms; 
	transition-delay:		300ms, 100ms; 
	transition-timing-function:  ease-in-out, ease-out;
	z-index:				4;
}

.bullet:before {
	content:				'';
	position:				absolute;
	top:					0;
	left:					0;
	width:					100%;
	height:					100%;
	border-radius:			100%;
	background-color:		var(--ion-color-base);
	overflow:				hidden;
}

.bullet.passed:before,
.bullet.active:before {
	background-color:		var(--ion-color-base);
}

.bullet.active {
	transform:				scale(1.3);
}

.bullet .label {
	max-width:				2em;
	color:					var(--ion-color-contrast);
	z-index:				4;
	font-weight:			500;
}

.bullet.passed .label {
	color:					var(--ion-color-contrast);
}

.bullet .icon {
	color:					var(--ion-color-contrast);
	z-index:				4;
	height: 				1.25em;
	width: 					1.25em;
}

.bullet.passed .icon {
	color:					var(--ion-color-contrast);
}




.connector {
	display:				flex;
	flex:					0 1 2em;
	align-items:			center;
	justify-content:		space-around;
	max-width:				2em;	
	z-index:				1;
	transition-property:	font-size;
	transition-duration:	300ms; 
	transition-timing-function:  ease-in-out;
	transition-delay:		300ms;
}

.connector.skip {
	flex:					0 1 3em;
	max-width:				3em;	
}

.connector > * {
	display:				inline-block;
	box-sizing:				border-box;
	background-color:		var(--ion-color-base);
}

.connector.passed > * {
	background-color:		var(--ion-color-base);
}


.connector > * {
	flex:					1 0 0;
	height:					0.25em;
	transition-property:	flex, border-radius;
	transition-duration:	300ms, 300ms;
	transition-delay:		0ms,0ms;
	transition-timing-function: ease-in-out, ease-in-out;
}


.connector.skip > * {
	flex:					0 0 0.25em;
	border-radius:			0.25em;
}
