.settings-list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	font-family: var(--font-family-secondary);
}

.setting-entry {
	padding: 1rem 1.25rem;
	border-radius: 0.5rem;
	background-color: var(--rcc-off-white);
	box-shadow: var(--rcc-box-shadow);
}
