.card-body {
    background: linear-gradient(164.41deg, #FDFDFD 57.64%, var(--supp-highlight) 108.57%);
    border-radius: 0.5rem;
    padding: 1rem 1.25rem 2rem 1.25rem;
    box-shadow: var(--rcc-box-shadow);

    ::ng-deep {
        > :not(:last-child) {
            display: block;
            margin-bottom: 2rem;
        }

        :first-child {
            margin-bottom: 1.3125rem;
        }

        :nth-child(3) {
            line-height: 2rem;
            min-height: 155px;
        }

        > :not(strong):not(.button-group) {
            font-size: 0.8rem;
        }

        strong {
            font-family: var(--font-family-secondary);
            line-height: 1.5rem;
            font-size: 1rem;
        }

        .button-group {
            display: flex;
            flex-direction: column;
            margin: 0 1.25rem;
        }
    }
}