
.toggle-button-container {
	--rcc-toggle-base-size: 1rem;
	--rcc-toggle-width: calc(var(--rcc-toggle-base-size) * 2);
	--rcc-toggle-height: var(--rcc-toggle-base-size);
	--rcc-toggle-knob-size: var(--rcc-toggle-base-size);

	position: relative;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	width: var(--rcc-toggle-width);
	height: var(--rcc-toggle-height);
	border-radius: calc(var(--rcc-toggle-base-size) / 2);
	outline-style: solid;
	outline-color: var(--supp-highlight-contrast);
	outline-width: calc(.0625 * var(--rcc-toggle-base-size));
	margin: calc(.0625 * 3 * var(--rcc-toggle-base-size)) 0;
	cursor: pointer;

	&:focus-within {
		outline-style: double;
		outline-width: calc(.0625 * 3 * var(--rcc-toggle-base-size));
	}

	.switch {
		height: var(--rcc-toggle-height);
	}

	input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	input:checked + .background:before {
		right: 0;
	}

	input:not(:checked) + .background:before{
		right: calc(var(--rcc-toggle-width) - var(--rcc-toggle-knob-size));
	}

	input:focus,
	input:focus-visible {
		outline: calc(.0625 * var(--rcc-toggle-base-size)) solid var(--supp-highlight-contrast);
		outline-offset: 0;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		transition: 0.2s ease all;
		cursor: pointer;
	}

	/* the input doesn't move, instead the before element of the background represents the pill that moves */

	.background:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: var(--rcc-toggle-knob-size);
		border-radius: calc(var(--rcc-toggle-base-size) / 2);
		z-index: 2;
		box-sizing: border-box;
		background-color: var(--main-contrast);
		outline: calc(.0625 * var(--rcc-toggle-base-size)) solid var(--supp-highlight-contrast);
		transition: 0.2s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
		cursor: pointer;
	}

	input:checked + .background {
		background-color: var(--main);
	}
	input:not(:checked) + .background {
		background-color: var(--main-contrast);
	}
}


.checkbox-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 2rem;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0rem;

	input {
		position: absolute;
		opacity: 0;

		// Firefox only pulls the minimum necessary height of the element
		// in focus into the viewport. To ensure the label is also
		// visible we make the input the same dimensions as the label
		height: 100%;
		width: 100%;
		z-index: 2;

		cursor: pointer;
	}

	label:has(+ input:focus-visible) {
		outline: auto;
	}

	input[disabled] {
		cursor: default;
	}

	label:has(+ input[disabled]) {
		background-color: lightgrey;
		color: darkgray;
	}

	.checkbox-square {
		width: 1rem;
		height: 1rem;
		cursor: pointer;

		.checkbox-icon {
			rcc-icon {
				top: -2px;
				left: 0px;
			}

			.hidden {
				display: none;
			}
		}
	}

}

.checkbox-square {
	align-items: center;
	gap: 1rem;
	height: 1rem;
	width: 1rem;
	border: 1px solid var(--rcc-text-dark);
	background-color: var(--background-white);
	flex-shrink: 0;
	z-index: 10;
}
