<div *ngIf="toggleOrCheckbox === 'toggle' "class="toggle-button-container">
	<label class="switch">
		<input
			type="checkbox"
			class="checkbox"
			(change)="onToggleChange()"
			attr.aria-label = "{{('TOGGLE' | translate)}}: {{usage}}"
			[attr.aria-checked]="checked"
			[checked]="checked"
		/>

		<div class="background">
		</div>
	</label>
</div>

<div *ngIf="toggleOrCheckbox === 'checkbox' "class="checkbox-container">
	<label *ngIf="label" [for]="checkboxId">{{label}}</label>
	<input
		#checkboxInput
		[id]="checkboxId"
		type="checkbox"
		(change)="onToggleChange()"
		[attr.aria-checked]="checked"
		[checked]="checked"
	>
	<div class="checkbox-square" (click)="checkboxInput.click()">
		<div class="checkbox-icon">
			<rcc-icon name="check_mark" size="small"
			[ngClass]="{'hidden': !checked}"></rcc-icon>
		</div>
	</div>
</div>
