:host {
	display:			block;	
	position:			relative;
	overflow:			hidden;
	margin:				auto;
	height:				12rem;
	width:				12rem;
}

canvas {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100% !important;
	height:				100% !important;
	image-rendering:	pixelated;
	image-rendering:	crisp-edges;
}

