rcc-edit-text {
	margin-bottom: 1rem;
}

rcc-pull-down-select {
	margin-bottom: 1rem;
}

rcc-monitoring-setup-option-editor {
	min-height: 10rem;;
}

.schedule-select {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-family-primary);
	font-size: 0.9rem;
	margin: 2rem 1.2rem;
	padding: 1.1rem 0;
	border-top: solid 1px var(--main);

	button {
		background-color: transparent;
	}

	rcc-icon {
		color: black;
	}

	&:hover rcc-icon {
		--icon-fill: var(--main);
		color: white;
	}
}
span {
	font-size: .9rem;
}

.schedule-button {
	color: var(--main);
}
.font-bold {
    font-weight: bold;
}
