<rcc-reduced-full-page
	[heading]					=		"heading"
	[subHeading]				=		"'SYMPTOM_CHECK_META_STORE.SUB_HEADER'"
	[exitIcon]					=		"'close'"
	[colorCategory]				=		"['primary'	, 'secondary']"
	[colorCategorySuffix]		=		"['start'	, 'end']"
	[buttonPlacement]			=		"'end'"
	[exitAction]				=		"'home'"
>
	<div class="centered-content">
		<rcc-meta-store
			[metaStore] 		= "symptomCheckMetaStoreService"
			[filterControl]		= "filterControl"
		></rcc-meta-store>
	</div>
</rcc-reduced-full-page>
