<div
	class="main-menu-container"
	id="main-menu-container"
	[ngClass]="{ 'open': isOpen$ | async }"
	[attr.aria-label]="'MAIN_MENU.LABEL' | translate"
	tabTrap
	role="dialog"
>
	<div class="menu-backdrop" (click)="closeDialog()" (keydown.escape)="closeDialog()"></div>
	<div class="centered-content">
		<rcc-action-button
			id				="main-menu-dialog-close-button"
			[action]		="closeAction"
			buttonSize		="small"
			colorCategory	="secondary"
		></rcc-action-button>
	</div>
	<div class="centered-content">

		<div
			#dialogBody
			class="dialog-body"
			(keydown.escape)="closeDialog()"
			[attr.inert]="(isOpen$ | async) ? null : ''"
		>
			<nav>
				<ul class = "regular-entries">

					<ng-container *ngFor="let action of actions | sortByPosition">

						<li *ngIf="isHandlerAction(action) || isPathAction(action) || isDownloadAction(action)">
							<rcc-main-menu-entry [action]="action" (entryClicked)="closeDialog()"></rcc-main-menu-entry>
						</li>

					</ng-container>

				</ul>

				<ul class = "meta-entries">

					<ng-container *ngFor="let action of metaActions | sortByPosition">

						<li *ngIf="isHandlerAction(action) || isPathAction(action)">
							<rcc-main-menu-entry [action]="action" (entryClicked)="closeDialog()"></rcc-main-menu-entry>
						</li>

					</ng-container>

				</ul>
			</nav>
		</div>
	</div>
</div>
