@import 'bengal/mixins/breakpoints';

rcc-main-menu-body {

	:host {
		z-index: 				102;
		position: 				fixed;
		display:				block;
	}

	.centered-content {
		display: flex;
		justify-content: flex-end;
	}

	#main-menu-dialog-close-button {
		--icon-stroke:			var(--main);
		position:				fixed;
		top:					1.25rem;
		z-index:				100005;
		display:				none;
		width: 					2rem;

		button {
			background-color:	transparent;

			rcc-icon {
				--icon-dimension: 1.5rem;
			}
		}

		&:hover{
			--icon-stroke:		var(--main-highlight);
		}
	}

	.main-menu-container {
		.dialog-body {
			position: 			fixed;
			top: 				0;
			bottom: 			0;
			right:				0;
			transform:			translateX(100%);
			background-color: 	white;
			font-family: 		var(--font-family-primary);
			font-weight: 		700;
			font-size: 			0.8rem;

			transition: 		transform 0.2s;
			padding:			4rem 1.5rem 2.5rem 2rem;

			display:			grid;
			grid-template-rows: 1fr;

			@include desktop {
				width: 45%;
			}

			@include mobile {
				width: 70%;
			}

			@include smallDesktop {
				width: 40%;
			}

			.dialog-header {
				display: 			flex;
				justify-content: 	flex-end;

				button {
					background-color: 	transparent;
				}

				rcc-action-button {
					--icon-stroke: var(--main);
				}

				rcc-action-button:hover {
					--icon-stroke: var(--main-highlight);
				}

				rcc-action-button ::ng-deep button {
					background-color: 	transparent;
				}

				rcc-action-button ::ng-deep rcc-icon {
					--icon-dimension: 1.5rem;
				}
			}

			@include mobile {
				grid-template-columns: 60vw;
			}

			@include smallDesktop {
				grid-template-columns: 38vw;
			}


			nav {
				display: 				flex;
				flex-direction: 		column;
				justify-content:		space-between;
			}

			ul {
				flex: 					0 0 auto;
				list-style: 			none;
				padding: 				0;

				li {
					margin-bottom: 		2.5rem;
					margin-left: 		2rem;
					margin-right: 		2rem;
				}
			}

			.meta-entries {

				li{
					margin-bottom: 		0.5rem;
				}

				rcc-main-menu-entry {
					margin-top:				0.25rem;
					margin-bottom:			0.25rem;

					rcc-icon {
						visibility:			hidden!important;
					}
					a,button  {
						justify-content:		start;
					}
				}
			}

		}
	}

	.main-menu-container.open {
		.menu-backdrop {
			position:			fixed;
			background-color:	#444343;
			opacity:			0.3;
			top:				0;
			bottom:				0;
			left:				0;
			right:				0;
			z-index:			10;
		}

		.dialog-body {
			transform:			translateX(0);
			z-index:			103;
			overflow:			auto;
		}

		#main-menu-dialog-close-button {
			display: block;
		}
	}

}
