<!-- If Item[] provided -->
<ng-container *ngIf="items && isItemArray(items)">
	<rcc-list-item-tag
		*ngFor	= "let item of items"
		[item]	= "item"
		[itemActionRoles]	= "itemActionRoles"
	></rcc-list-item-tag>
</ng-container>

<!-- If ItemGroup[] provided -->
<ng-container *ngIf="items && isItemGroupArray(items)">
	<ng-container *ngFor="let itemGroup of items">
		<div class="label">{{ itemGroup.representation.label | translate }}</div>
		<rcc-list-item-tag
			*ngFor					= "let item of itemGroup.items"
			[item]					= "item"
			[itemActionRoles]		= "itemActionRoles"
		></rcc-list-item-tag>
	</ng-container>
</ng-container>
<ng-content></ng-content>
