<div *ngIf = "relevantDateStrings.length <= 10">
	<div
		*ngFor 		= "let dateStr of relevantDateStrings"
		class		= "day"
		[ngClass] 	= "{'with-answers': hasAnswers(dateStr)}"
	>
		{{ dateStr | translate }}
		<ng-container *ngFor = "let dataset of combinedData[dateStr]; index as index">
			<p  *ngFor = "let datapoint of dataset.datapoints">
				({{index+1}})
				<ion-text
					[color]	= "index === 0 ? 'primary' : 'secondary'"
					[id]	= "'fallback-data' | toID:'rcc-e2e'"
				>
					{{ datapoint.value | asAnswerTo: dataset.question | async | translate }}
				</ion-text>
			</p>
		</ng-container>
	</div>
</div>

<div *ngIf = "relevantDateStrings.length > 10">

	{{ 'FALLBACK_DATA_VIEW_WIDGET.NUMBER_OF_ENTRIES' | translate}}
	({{relevantDateStrings.length}} {{ 'FALLBACK_DATA_VIEW_WIDGET.DAYS' | translate}}):
	<p *ngFor = "let dataset of dataViewControl.datasets; index as index">
		({{index+1}}) {{relevantAnswerCount[index]}}
	</p>

</div>

<div class = "questions">
	<p *ngFor = "let dataset of dataViewControl.datasets; index as index">
		({{index+1}}) {{dataset.question | translate}}
	</p>
</div>

