<ion-content [fullscreen] = "true" class = "ion-padding">

	<h1 class = "ion-text-center">
		{{'EXPORT.MODAL.HEADING' | translate}}
	</h1>

	<!-- Display message if no DownloadActions are available -->
	<div *ngIf = "!actions.length">
		{{ 'EXPORT.MISSING_APPLICABLE_EXPORTERS' | translate }}
	</div>


	<!-- Display some info about the export input -->
	<ion-list>

		<!-- If a label or description is provided to the component, show it -->
		<ion-item *ngIf = "label || description">

			<ion-label>
				<h3 *ngIf	= "label"> 
					{{ label | translate }}
				</h3>

				<p
					*ngIf	= "description"
					class	= "ion-text-wrap"
				> 
					{{ description | translate }}
				</p>

			</ion-label>

		</ion-item>

		<!-- Otherwise show a non-clickable ItemTag if possible -->
		<rcc-standalone-item-tag
			*ngIf		= "!label && !description && isItem(data)"
			[item]		= "data"
			[noActions]	= "true"
		></rcc-standalone-item-tag>

	</ion-list>

	<hr>

	<!-- List all available DownloadActions (= ExportServices) -->
	<rcc-action-button
		*ngFor		= "let action of actions"
		[action]	= "action"
		buttonSize	= "medium"
		color		= "secondary"
	></rcc-action-button>

	<!-- Cancel button -->
	<rcc-button
		class			= "cancel-button"
		(clickEvent)	= "cancel()"
		color			= "primary"
	> 
		{{ 'EXPORT.MODAL.CANCEL' | translate }}
	</rcc-button>
